<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../assets/css/detalles.css">
  <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
  <title>Document</title>
</head>

<body>
  <section class="venergar-info" id="informacion-rapida">
    <section class="container-rapido">
      <i class='bx bx-x x2'></i>
      <section class="img-oferta">
        <section class="produc">
          <img src="../assets/img/banner-ecommer.png" alt="">
        </section>
        <section class="resto-product">
          <div class="scroll2">
              <section class="raster">
                <img src="../assets/img/banner-formulas.png" alt="">
              </section>
              <section class="raster">
                <img src="../assets/img/banner3.png" alt="">
              </section>
              <section class="raster">
                <img src="../assets/img/logoFarmadso - cambio.png" alt="">
              </section>
          </div>
        </section>
      </section>
      <section class="descript-pro">
        <h2>Nutren</h2>
        <h1>Nutren senior cafe con leche</h1>
        <h4>Frasco x 100 tab</h4>
        <h3>Nutren senior cafe con leche</h3>
        <p>Referencia: 10001</p>
        <div class="precio-antes">
          <div class="precio-a">
            Antes $ 65.900
          </div>
          <div class="ahorro">
            Ahorra $15.600
          </div>
        </div>
        <div class="precio">
          $50.000
        </div>
        <div class="informacion">
          <p>Incluye 0% de impuestos</p>
          <p>Registro Sanitario: RSA-0009205-2019</p>
        </div>

        <button class="carrito"><i class='bx bx-cart'></i> Añadir al carrito</button>
        <button class="vermas">Ver mas detalles</button>
      </section>
    </section>
  </section>
  <script src="../assets/js/detallesRapidos.js"></script>
</body>

</html>