
<link rel="stylesheet" href="../assets/css/factura.css">
 <!--Factura del cliente-->
 <div id="contenedorFactura">
    <div class="contenidoFactura">
      <div class="encabezado">
        <span>
          <h2 style="color: red; font-size: 24px; font-weight: bold;">Factura</h2>
          <p id="nombreFactura"></p>
        </span>
        <span>
          <h4>Fecha: <b id="fechaFactura"></b></h4>
          <p id="metodoPago"> </p>
        </span>
      </div>
      <div class="listaArticulos">
      </div>
      <div class="funcionesFactura">
        <div id="descargarFactura">
          <p>Descargar</p>
        </div>
        <button id="cerrarFactura">
          volver al comercio
        </button>
      </div>

      <div class="footerFactura">
        <h3 id="ubicacionFactura"></h3>
        <p id="telefonoFactura"></p>
        <p id="emailFactura"></p>

      </div>
    </div>
  </div>

  <!--Informacion del producto -->
  <div id="contenedorDetalleP">
  </div>

