<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/producto.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <script src="https://kit.fontawesome.com/6262aa5408.js" crossorigin="anonymous"></script>
    <title>nose</title>
</head>
<body>
    <main>
        <article>
            <section>
                <img src="../assets/img/acetaminofén-500mg-caja-16-tabletas-tecnoquimicas-sa.jpg" alt="">
            </section>
            <section>
                <div class="conta">
                    <p>Freestyle</p>
                    <a href="">Escribir comentario</a>
                </div>

                <header>
                    <h1>Sensor Freestyle Libre</h1>
                </header>

                <article>
                    <p>Caja x1 und</p>
                    <p>Sensor freestyle libre</p>
                    <p>Referencia: 140155</p>
                    <p>Incluye 19% de impuestos</p>
                </article>

                <section>
                    <p>$264.800</p>
                    <p>unidad a $264.800</p>
                </section>

                <span>
                    <button>
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: rgba(255, 255, 255, 1);"><path d="M21.822 7.431A1 1 0 0 0 21 7H7.333L6.179 4.23A1.994 1.994 0 0 0 4.333 3H2v2h2.333l4.744 11.385A1 1 0 0 0 10 17h8c.417 0 .79-.259.937-.648l3-8a1 1 0 0 0-.115-.921zM17.307 15h-6.64l-2.5-6h11.39l-2.25 6z"></path><circle cx="10.5" cy="19.5" r="1.5"></circle><circle cx="17.5" cy="19.5" r="1.5"></circle></svg>
                        <p>Añadir al Carrito</p>
                    </button>
                </span>

                <div class="container">
                    <article>
                        <p>Descripción</p>
                        <i class="fa-regular fa-circle-down" id="toggleIcon"></i>
                    </article>

                    <section class="hidden" id="articleContent">
                        <p>Lorem ipsum dolor sit amet consectetur, 
                            adipisicing elit. Optio rerum, voluptatum
                            porro blanditiis corporis dolorem quis qui 
                            eaque nobis commodi quibusdam vero consequuntur 
                            officiis earum labore magnam hic adipisci quaerat.
                        </p>

                        <p>Lorem ipsum dolor sit amet consectetur, 
                            adipisicing elit. Optio rerum, voluptatum
                            porro blanditiis corporis dolorem quis qui 
                            eaque nobis commodi quibusdam vero consequuntur 
                            officiis earum labore magnam hic adipisci quaerat.
                        </p>

                        <p>Lorem ipsum dolor sit amet consectetur, 
                            adipisicing elit. Optio rerum, voluptatum
                            porro blanditiis corporis dolorem quis qui 
                            eaque nobis commodi quibusdam vero consequuntur 
                            officiis earum labore magnam hic adipisci quaerat.
                        </p>
                               
                    </section>
                </div>

            </section>
        </article>
        <article>
            <img src="../assets/img/acetaminofén-500mg-caja-16-tabletas-tecnoquimicas-sa.jpg" alt="">
            <img src="../assets/img/acetaminofén-500mg-caja-16-tabletas-tecnoquimicas-sa.jpg" alt="">
            <img src="../assets/img/acetaminofén-500mg-caja-16-tabletas-tecnoquimicas-sa.jpg" alt="">
            <img src="../assets/img/acetaminofén-500mg-caja-16-tabletas-tecnoquimicas-sa.jpg" alt="">
            <img src="../assets/img/acetaminofén-500mg-caja-16-tabletas-tecnoquimicas-sa.jpg" alt="">
            <img src="../assets/img/acetaminofén-500mg-caja-16-tabletas-tecnoquimicas-sa.jpg" alt="">
            <img src="../assets/img/acetaminofén-500mg-caja-16-tabletas-tecnoquimicas-sa.jpg" alt="">
        </article>
    </main>
    
    <script src="../assets/js/productofuncion.js" ></script>
</body>
</html>