<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Solicitud para Registrar mi Farmacia</title>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Original+Surfer&display=swap');
    </style>
    <link rel="stylesheet" href="../assets/css/registros_domi_y_farmacia.css">
</head>

<body>
    <div class="container">
        <h1>Solicitud para Registrar mi Farmacia</h1>
        <section class="parte1-formulario">
            <div class="contenedoresparte1">
                <label for="nombreFarmacia">Nombre de la Farmacia</label>
                <input type="text" id="nombreFarmacia" name="nombreFarmacia" required>
            </div>

            <div class="contenedoresparte1">
                <label for="direccion">Dirección</label>
                <input type="text" id="direccion" name="direccion" required>
            </div>

            <div class="contenedoresparte1">
                <label for="telefono">Teléfono</label>
                <input type="tel" id="telefono" name="telefono" required>
            </div>
        </section>

        <section class="parte1-formulario">
            <div class="contenedoresparte1">
                <label for="correo">Correo de Contacto</label>
                <input type="email" id="correo" name="correo" required>
            </div>
            <div class="contenedoresparte1">
                <label for="imagen"> Imagen de Presentación</label>
                <input type="file" id="imagen" name="imagen" required>
            </div>
        </section>

        <h2>Datos Sensibles</h2>

        <section class="parte1-formulario">
            <div class="contenedoresparte1">
                <label for="departamento">Departamento</label>
                <select id="departamento" name="departamento" required>
                    <option value="departamento1">Caquetá</option>
                    <option value="departamento2">Cundinamarca</option>
                    <!-- Agrega más departamentos según sea necesario -->
                </select>
            </div>

            <div class="contenedoresparte1">
                <label for="ciudad">Ciudad</label>
                <select id="ciudad" name="ciudad" required>
                    <option value="departamento1">Florencia</option>
                    <option value="departamento2">Bogota</option>
                     <!-- Agrega más ciudades según sea necesario -->
                </select>
            </div>
        </section>

        <section class="parte1-formulario">
            <div class="contenedoresparte1">
                <label for="codigoPostal">Código Postal</label>
                <input type="text" id="codigoPostal" name="codigoPostal" required>
            </div>

            <div class="contenedoresparte1">
                <label for="horario">Días de Horario Laboral</label>
                <select id="horario" name="horario" required>
                    <option value="lunes">Lunes</option>
                    <option value="martes">Martes</option>
                    <!-- Agrega más días según sea necesario -->
                </select>
            </div>

            <div class="contenedoresparte1">
                <label for="jornada">Jornada</label>
                <select id="jornada" name="jornada" required>
                    <option value="manana">Mañana</option>
                    <option value="tarde">Tarde</option>
                </select>
            </div>
        </section>

        <label for="epsRegistrado">¿Está registrado con una EPS?</label>
        <select id="epsRegistrado" name="epsRegistrado" required>
            <option value="si">Sí</option>
            <option value="no">No</option>
        </select>

        <label for="eps">EPS con la que está registrado</label>
        <select id="eps" name="eps" required>
            <option value="eps1">EPS 1</option>
            <option value="eps2">IPS 2</option>
            <!-- Agrega más EPS según sea necesario -->
        </select>

        <label for="nitEps">NIT de EPS</label>
        <input type="text" id="nitEps" name="nitEps" required>

        <button id="enviar">Enviar</button>
    </div>
    <script src="script.js"></script>
</body>

</html>