:root {
  --azulOscuro: #2d57a8;
  --verdeClaro: #b5ddca;
  --verdeOscuro: #33a892;
  --blanco: #fffefe;
  --grisClaro : #f1f2f5;
  --azulClaro: #6d93c9;
  --fuente: sans-serif;
}

body {
    display: flex;
    height: 100vh;
    margin: 0;
    font-family: sans-serif;
  }

  #menu {
    width: 20%;
    background-color: #f0f0f0;
    color: #fff;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    margin-right: 1rem;
  }

  #menu .title-cuenta{
    color: #000;
  }

  .contenedor-pestañas .opc{
    background-color: #fff;
    height: 40px;
    color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0.5px;
    border-radius: 2px;
    border-bottom: 1px solid rgb(214, 212, 212);
    cursor: pointer;
  }

  .contenedor-pestañas .tab{
    width: 80%;
    height: 85%;
    display: flex;
    align-items: center;
  }

  .contenedor-pestañas h4{
    color: gray;
  }

  #contenido {
    flex: 1;
    transition: all 0.2s ease;
  }

  .tab {
    cursor: pointer;
    font-size: 14px;
    gap: 15px;
  }

  .tab img{
    width: 20px;
  }

  .contenido-pestaña {
    display: none;
  }

  


  /* estilos del cotenido de mi perfil */

  .vane{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    width: 100%;
    height: 100vh;

  }


  .perfil{
    display: flex;
  }


  .perfil img{
    width: 100px;
  }

  .datos{
    margin-left: 15px;
  }

  .datos .nn{
    font-size: 22px;
    margin-bottom: -15px;
  }

  .formdatos{
    width: 95%;
    padding: 20px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* border: 1px solid ; */
  }

  .formdatos .left{
    width: 48%;
    height: 100%;
    /* border: 1px solid; */
  }

  .formdatos .dato{
    width: 100%;
    margin-bottom: 10px;
  }

  .formdatos .dato p{
    font-size: 13px;
    color: gray;
  }

  .formdatos .dato input{
    border: none;
    width: 99%;
    height: 30px;
    border-radius: 5px;
    outline: none;
    border: 0.1px solid gray;
  }

  .gnr-campo{
    display: flex;
    align-items: center;
  }

  .gnr-campo>input{
    margin-top: -5px;
  }
  .celu{
    font-size: 13px;
    color: gray;
  }

  .formdatos .genero p{
    font-size: 13px;
    color: gray;
  }

  .formdatos .right{
    display: flex;
    flex-direction: column;
    width: 48%;
    /* border: 1px solid; */
    height: 100%;
  }

  .right .pais select{
    border: 0.1px solid gray;
    border-radius: 3px;
    width: 14.3%;
    height: 30px;
  }

  .right .pais input{
    border: 0.1px solid gray;
    border-radius: 3px;
    width: 82%;
    height: 30px;
    margin-left: 6px;
  }

  .right .nacimiento p{
    font-size: 13px;
    color: gray;
  }

  .right .nacimiento{
    height: 10rem;
    margin-top: 33px;
    /* border: 1px solid; */
  }
  .right .nacimiento select{
    border: 0.1px solid gray;
    border-radius: 3px;
    width: 32.6%;
    height: 30px;
  }

  .right .nacimiento span{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .right .nacimiento button{
    border: none;
    background-color: #418fde;
    width: 40%;
    height: 2.5rem;
    font-size: 15px;
    color: #fff;
    border-radius: 5px;
    margin-top: 35px;
  }

  /* estilos de mis direcciones */

  #misdirecciones{
    width: 95%;
  }

  #misdirecciones h3 {
    font-size: 30px;
  } 
  
  #misdirecciones .btn-direccion{
    text-align: right;
  }

  #misdirecciones .btn-direccion #openModalBtn{
    background-color: #418fde;
    border-radius: 5px;
    padding: 7px 20px;
    text-decoration: none;
    color: #fff;
    border: none;
    cursor: pointer;
  }

  /* Estilos para la ventana modal */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
  padding-top: 60px;
}

.modal-content {
  background-color: #fefefe;
  margin: 5% auto;
  padding: 20px;
  border: 1px solid #888;
  border-radius: 5px ;
  width: 80%;
  max-width: 600px; /* Limita el ancho de la ventana modal */
}

.close {
  color: #418fde;
  float: right;
  font-size: 30px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: var(--azulOscuro);
  cursor: pointer;
}

/* Estilos para los campos y la disposición */
label {
  display: block;
  margin-bottom: 5px;
}

input[type="text"] {
  width: 100%; /* Ajusta el ancho de los campos */
  padding: 10px;
  margin-bottom: 10px;
  height: 16px;
}

.address-fields {
  display: flex;
  justify-content: space-between;
}

.field {
  display: flex;
  flex-direction: column;
  width: 45%; /* Ajusta el ancho de los campos en la fila */
}

.btn-guardar{
  display: flex;
  justify-content: center;
}

.modal-content button{
  border: none;
  background-color: #418fde;
  border-radius: 4px;
  width: 30%;
  margin-top: 20px;
  color: white;
  margin-bottom: 25px;
  cursor: pointer;
  padding: 1rem;
}


  /* estilos del contenido de cambiar contraseña */
  #cambiarcontrasena{
    display: flex;
    height: 99.8%;
  }

  #cambiarcontrasena .contraseña{
    width: 37%;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    margin: auto;
    height: 80%;
  }

  #cambiarcontrasena .form-contraseña{
    box-shadow: 1px 2px 2px 10px rgba(128, 128, 128, 0.222);
    width: 100%;
    text-align: center;
    border-radius: 10px;
  }

  #cambiarcontrasena .form-contraseña #contraseña-actual {
    border: 0.5px solid gray;
    width: 70%;
    height: 20px;
    border-radius: 4px;
    padding: 0.5rem;
  } 

  #contraseña-actu{
    padding: 0.5rem;
  }

  .nueva-cntrs{
    display: flex;
   gap:  10px;
   margin-left: 1rem;

  }
  .boton-guardar-azul{
    padding: 0.5rem;
    width: 30%;

  }
  #cambiarcontrasena .form-contraseña .nueva-cntrs{
    margin-top: 20px;
  } 
  
  #cambiarcontrasena .form-contraseña .nueva-cntrs input{
    border: 0.5px solid gray;
    height: 20px;
    width: 40%;
    border-radius: 4px;
    outline: none;
  }

  #cambiarcontrasena .form-contraseña button{
    border: none;
    background-color: #418fde;
    border-radius: 4px;
    width: 60%;
    height: 27px;
    margin-top: 20px;
    color: white;
    margin-bottom: 25px;
    cursor: pointer;
  }


.cont-icon{
  display: flex;
  align-items: center;
  gap: 10px;
}

.responsive_total{
  margin-top: 20px;
}

.cont-icon>i{
  cursor: pointer;
}

.cont-icon>i{
  color: #000;
  font-size: 24px;
}

.cerrar-sesion-nav{
  width: 100%;
  text-decoration: none;
  color: #000;
  display: flex;
  justify-content: center;
}

/*estilos menu responsive*/
.menu-respon{
  position: absolute;
  opacity: 0;
  visibility: hidden;
  top: 0;
  left: 0;
  width: 3rem;
  z-index: 0;
  height: 100%;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  border-left: 1px solid #ddd;
  transition: all 0.2s ease;
}

.menu-respon-active{
  opacity: 1;
  visibility: visible;
  z-index: 1;
}

.tab-respo{
  width: 50%;
  padding: 5px;
  border-radius: 4px;
  cursor: pointer;
  background-color: #f0f0f0;
}

.tab-respo>img{
  width: 20px;
}


.regresar{
  display: flex;
  align-items: center;
  justify-content: center;
  right: 0;
  position: relative;
  top: 20px;
  left: 300px;
  background-color: var(--azulClaro);
  height: 2rem;
  text-decoration: none;
  width: 10%;
  color: #fff;
  border-radius: 10px;
}

/*responsive contenido*/

/* Estilos para pantallas pequeñas (menos de 768px de ancho) */
@media screen and (max-width: 768px) {
  #menu {
    width: 100%; /* Ocupar el ancho completo */
    margin-right: 0; /* Eliminar el margen derecho */
  }

  .regresar{
    display: flex;
    align-items: center;
    justify-content: center;
    right: 0;
    top: 10px;
    left: 360px;
    width: 20%;
    height: 1rem;
    position: absolute;
   padding: 10px 12px;
   
  }
  .contenedor-pestañas .opc {
    height: auto; /* Ajustar la altura automáticamente */
    margin-bottom: 5px; /* Espaciado entre pestañas */
  }

  .contenedor-pestañas .tab {
    width: 100%; /* Ocupar el ancho completo */
    height: auto; /* Ajustar la altura automáticamente */
  }

  .tab img {
    width: 15px; /* Reducir el tamaño de la imagen */
  }

  .vane {
    gap: 10px; /* Reducir el espacio entre elementos */
  }

  .perfil img {
    width: 80px; /* Ajustar el tamaño de la imagen de perfil */
  }

  .formdatos {
    width: 100%;
    flex-direction: column; /* Cambiar a diseño de columna */
    align-items: center; 
    justify-content: center;/* Centrar elementos */
  }

  .formdatos .left, .formdatos .right {
    width: 90%; /* Ocupar el ancho completo */
  }

  .right .pais select, .right .pais input {
    width: 100%; /* Ocupar el ancho completo */
  }

  .right .nacimiento select, .right .nacimiento span {
    width: 100%; /* Ocupar el ancho completo */
  }

/*cambiar contraseña responsive*/

  #cambiarcontrasena {
    display: flex;
    flex-direction: column; /* Cambiar a diseño de columna */
    align-items: center; /* Centrar elementos */
    height: auto; /* Ajustar la altura automáticamente */
  }

  #cambiarcontrasena .contraseña {
    width: 100%; /* Ocupar el ancho completo */
    padding: 10px; /* Reducir el relleno */
  }

  #cambiarcontrasena .form-contraseña {
    width: 100%; /* Ocupar el ancho completo */
  }

  #cambiarcontrasena .form-contraseña .contraseña-actual {
    width: 80%; /* Ocupar el ancho completo */
  }

  #cambiarcontrasena .form-contraseña .nueva-cntrs {
    margin-top: 10px; /* Reducir el margen superior */
  }

  #cambiarcontrasena .form-contraseña .nueva-cntrs input {
    width: 80%; /* Ocupar el ancho completo */
  }

  #cambiarcontrasena .form-contraseña button {
    width: 90%; /* Ocupar el ancho completo */
    margin-top: 10px; /* Reducir el margen superior */
    margin-bottom: 10px; /* Reducir el margen inferior */
  }
}

/* Estilos para pantallas muy pequeñas (menos de 480px de ancho) */
@media screen and (max-width: 480px) {
  .contenedor-pestañas .tab {
    font-size: 12px; /* Reducir el tamaño de fuente en pestañas */
    gap: 10px; /* Espaciado entre elementos */
  }

  .vane {
    gap: px; /* Reducir el espacio entre elementos */
  }

  .perfil img {
    width: 60px; /* Ajustar el tamaño de la imagen de perfil */
  }

  .formdatos .genero p {
    font-size: 12px; /* Reducir el tamaño de fuente en género */
  }
}
