body {
    display: flex;
    height: 100vh;
    margin: 0;
    font-family: sans-serif;
  }

  #menu {
    width: 20%;
    background-color: #f0f0f0;
    color: #fff;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
  }

  #menu .title-cuenta{
    color: #000;
  }

  .contenedor-pestañas .opc{
    background-color: #fff;
    height: 40px;
    color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0.5px;
    border-radius: 2px;
    border-bottom: 1px solid rgb(214, 212, 212);
    cursor: pointer;
  }

  .contenedor-pestañas .tab{
    width: 80%;
    height: 85%;
    display: flex;
    align-items: center;
  }

  .contenedor-pestañas h4{
    color: gray;
  }

  #contenido {
    flex: 1;

  }

  .tab {
    cursor: pointer;
    margin-bottom: 10px;
    font-size: 14px;
  }

  .tab img{
    width: 20px;
    margin-right: 10px;
  }

  .contenido-pestaña {
    display: none;
  }


  /* estilos del cotenido de mi perfil */

  .vane{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    width: 100%;
    height: 100vh;

  }


  .perfil{
    display: flex;
  }


  .perfil img{
    width: 100px;
  }

  .datos{
    margin-left: 15px;
  }

  .datos .nn{
    font-size: 22px;
    margin-bottom: -15px;
  }

  .formdatos{
    width: 95%;
    padding: 20px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* border: 1px solid ; */
  }

  .formdatos .left{
    width: 48%;
    height: 100%;
    /* border: 1px solid; */
  }

  .formdatos .dato{
    width: 100%;
    margin-bottom: 10px;
  }

  .formdatos .dato p{
    font-size: 13px;
    color: gray;
  }

  .formdatos .dato input{
    border: none;
    width: 99%;
    height: 30px;
    border-radius: 5px;
    outline: none;
    border: 0.1px solid gray;
  }

  .gnr-campo{
    display: flex;
    align-items: center;
  }

  .gnr-campo>input{
    margin-top: -5px;
  }
  .celu{
    font-size: 13px;
    color: gray;
  }

  .formdatos .genero p{
    font-size: 13px;
    color: gray;
  }

  .formdatos .right{
    display: flex;
    flex-direction: column;
    width: 48%;
    /* border: 1px solid; */
    height: 100%;
  }

  .right .pais select{
    border: 0.1px solid gray;
    border-radius: 3px;
    width: 14.3%;
    height: 30px;
  }

  .right .pais input{
    border: 0.1px solid gray;
    border-radius: 3px;
    width: 82%;
    height: 30px;
    margin-left: 6px;
  }

  .right .nacimiento p{
    font-size: 13px;
    color: gray;
  }

  .right .nacimiento{
    height: 10rem;
    margin-top: 33px;
    /* border: 1px solid; */
  }
  .right .nacimiento select{
    border: 0.1px solid gray;
    border-radius: 3px;
    width: 32.6%;
    height: 30px;
  }

  .right .nacimiento span{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .right .nacimiento button{
    border: none;
    background-color: #418fde;
    width: 40%;
    height: 2.5rem;
    font-size: 15px;
    color: #fff;
    border-radius: 5px;
    margin-top: 35px;
  }

  /* estilos de mis direcciones */

  #misdirecciones{
    width: 95%;
  }

  #misdirecciones h3 {
    font-size: 30px;
  } 
  
  #misdirecciones .btn-direccion{
    text-align: right;
  }

  #misdirecciones .btn-direccion #openModalBtn{
    background-color: #418fde;
    border-radius: 5px;
    padding: 7px 20px;
    text-decoration: none;
    color: #fff;
    border: none;
    cursor: pointer;
  }

  /* Estilos para la ventana modal */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
  padding-top: 60px;
}

.modal-content {
  background-color: #fefefe;
  margin: 5% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 600px; /* Limita el ancho de la ventana modal */
}

.close {
  color: blue;
  float: right;
  font-size: 30px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

/* Estilos para los campos y la disposición */
label {
  display: block;
  margin-bottom: 5px;
}

input[type="text"] {
  width: 100%; /* Ajusta el ancho de los campos */
  padding: 10px;
  margin-bottom: 10px;
}

.address-fields {
  display: flex;
  justify-content: space-between;
}

.field {
  width: 45%; /* Ajusta el ancho de los campos en la fila */
}

  /* estilos del contenido de cambiar contraseña */
  #cambiarcontrasena{
    display: flex;
  }

  #cambiarcontrasena .contraseña{
    width: 37%;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    margin: auto;
  }

  #cambiarcontrasena .form-contraseña{
    background-color: #f0f0f0;
    width: 98%;
    text-align: center;
    border-radius: 10px;
  }

  #cambiarcontrasena .form-contraseña .contraseña-actual{
    border: 0.5px solid gray;
    width: 90%;
    height: 30px;
    border-radius: 4px;
    outline: none;
  } 

  #cambiarcontrasena .form-contraseña .nueva-cntrs{
    margin-top: 20px;
  } 
  
  #cambiarcontrasena .form-contraseña .nueva-cntrs input{
    border: 0.5px solid gray;
    height: 30px;
    width: 44%;
    border-radius: 4px;
    outline: none;
  }

  #cambiarcontrasena .form-contraseña button{
    border: none;
    background-color: #418fde;
    border-radius: 4px;
    width: 92%;
    height: 27px;
    margin-top: 20px;
    color: #fff;
    margin-bottom: 25px;
  }

