/*Ventana modal de factura*/
#contenedorFactura {
    display: none;
    flex-direction: column;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    z-index: 999;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
  }
  
  .contenidoFactura > .encabezado {
    display: flex;
    height: 7rem;
  }
  
  .viewf {
    background-color: transparent;
    outline: none;
    border: none;
    cursor: pointer;
  }
  
  .viewf:hover {
    transform: scale(1.1);
  }
  
  .viewf > i {
    color: #369237;
    font-size: 18.5px;
  }
  
  .contenidoFactura > .encabezado span {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-size: 1.1em;
    align-items: center;
    font-weight: 650;
    font-family: sans-serif;
    color: #363636;
  }
  
  .contenidoFactura > .listaArticulos {
    border-top: 3px solid #369237;
    flex: 1;
    display: flex;
    flex-direction: column;
  }
  
  .contenidoFactura > .listaArticulos > .lista-head {
    display: flex;
    position: sticky !important;
    top: 0 !important;
    height: 50px;
    background-color: #f1f2f3 !important;
    border-bottom: 1px solid #d9d3d3 !important;
  }
  
  .contenidoFactura > .listaArticulos > .itemsArticulos {
    display: flex;
    height: 30px;
    background-color: #f9f9f9;
    align-items: center;
  }
  
  .contenidoFactura > .listaArticulos > .itemsArticulos > span {
    flex: 2;
    align-items: flex-start;
    justify-content: center;
    box-sizing: border-box;
    padding-left: 0.5em;
  }
  
  .contenidoFactura > .listaArticulos > .itemsArticulos div {
    flex: 1;
    align-items: flex-start;
    justify-content: center;
  }
  
  .contenidoFactura > .listaArticulos > .itemsArticuloSubtotal {
    justify-content: flex-end;
    display: flex;
    height: 35px;
    align-items: center;
    box-sizing: border-box;
    padding-right: 10%;
    background-color: #f1f2f3;
  }
  
  .contenidoFactura > .footerFactura {
    display: flex;
    color: #363636;
    height: 2rem;
    font-weight: 650;
    align-items: center;
    justify-content: space-evenly;
  }
  
  .contenidoFactura {
    width: 80%;
    height: 95%;
    background-color: #f1f2f3;
    display: flex;
    flex-direction: column;
  }
  
  .contenidoFactura > .funcionesFactura > #descargarFactura {
    color: #369237;
    background-color: #f1f2f3;
    padding: 0.2em 0.5em;
    cursor: pointer;
  }
  
  #descargarFactura {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #363636;
  }
  
  .contenidoFactura > .funcionesFactura {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  
  #cerrarFactura {
    color: tomato;
    cursor: pointer;
    font-size: 15px;
    border: 1px solid #f9f9f9;
    font-weight: bold;
    padding: 0.2em 0.5em;
    box-sizing: border-box;
    outline: none;
    background-color: #f1f2f3;
    top: 1px;
  }
  
  @media screen and (max-width: 768px) {
    .contenidoFactura {
      width: 90%;
      height: 90%;
    }
  
    .contenidoFactura > .listaArticulos *,
    .contenidoFactura > .footerFactura * {
      font-size: 13px !important;
    }
  
    .contenidoFactura > .encabezado * {
      font-size: 16px !important;
      font-weight: 700 !important;
    }
  
    .contenidoFactura > .encabezado {
      height: 6rem;
    }
  
    #contenedorFactura {
      justify-content: flex-start;
      padding: 0.5em 0;
      overflow: auto;
    }
  
    .venergar-info {
      overflow: auto;
      align-items: flex-start !important;
    }
  
    .container-rapido {
      flex-direction: column;
      height: auto !important;
    }
  
    .container-rapido .img-oferta {
      width: 100% !important;
    }
  
    .container-rapido .descript-pro {
      width: 100% !important;
      padding: 1rem 0.5rem !important;
      box-sizing: border-box;
    }
  }
  
  /*Ventana modal de factura*/