
#footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #ffffff;
  gap: 10px;
  color: rgb(0, 0, 0);
  border-top: 2px solid rgba(128, 128, 128, 0.155);
  font-family: "Google Sans",Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
}


.foooter {
  display: flex;
  padding: 1rem;
  justify-content: space-between;
}

.footer-logo {
  align-items: center;
  display: flex;
  gap: 10px;
  margin-left: 2rem;
  flex-direction: column;
}

.footer-logo img {
  width: 80px;
  margin-right: 10px;
}

.redes-sociales{
  display: flex;
  font-size: 1.7rem;
}

.iconos-final {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  margin-right: 10px;
  color: rgb(0, 0, 0);
  border-radius: 50%;
  border: 2px solid #000000;
  transition: all 0.3s ease;
}
.iconos-final:hover {
  transform: scale(1.1);
  border-color: #ffffff;
}

.fa-facebook,
.fa-instagram,
.fa-whatsapp {
  color: rgb(0, 0, 0);
}

.footer-links {
  margin-top: 20px;
}

.footer-links a {
  display: block;
  color: #000000;
  text-decoration: none;
  margin-bottom: 10px;
}
.titulos_footer{
  display: flex;
  font-size: 1rem;
  margin-bottom: 0.7rem;
  justify-content: center;
}
.footer-contact
{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.cpycopy {
  align-self: center;
  display: flex;
}