* {
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0;
}

:root {
    --primary: #3d83df;
}

body {
    height: 100vh;

    background-color: #fff;
}

/*MENU DE LA PAGINA*/
#header {
    height: 60px;
    display: flex;
    align-items: center;
    padding: 0 .8em;
    box-sizing: border-box;
    position: relative;
    justify-content: space-between;
    background-color: #fff;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-bottom: 1px solid #ddd;
}

.imgUser {
    height: 2.5rem;
    width: 2.5rem;
    object-fit: cover;
    border-radius: 50%;
}

#tabla-contenedor {
    margin-top: 1em;
    display: flex;
    gap: .5em;
    flex-direction: column;
}


#itemCarrito {
    height: 85px;
    border-radius: .5em;
    display: flex;
    padding: .5em 0;
    gap: 1em;
    align-items: center;
    background-color: #f9f9f9;
}

#itemCarrito>img {
    height: 80px;
    width: 80px;
    border-radius: .5em;
}
#itemCarrito > [type='checkbox']{
    margin: 0 0 0 1em;
    width: 1.4em;
    height: 1.4em;
    background-color: #87cbb9;
}

.contenido {
   flex: 2;
    font-family: sans-serif;
    box-sizing: border-box;
    padding: .4em;
    display: flex;
    gap: .25em;
    flex-direction: column;
    align-items: center;
}

.contenido :nth-child(2) {
    font-size: 13.5px;
    color: lightslategray;
}

.contenido :nth-child(1) {
    font-weight: bold;
}

.costo, .eliminarProducto{

    margin-top: .15em;
    border: 2.5px solid orange;
    border-radius: 10px;
    padding: .4em .6em;
    color: orange;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 16px;
    width: 6rem;
    text-align: center;
}
.eliminarProducto{
    cursor: pointer;
    border: 2.5px solid rgb(255, 34, 0); 
    color: rgb(255, 34, 0);
}


.cantidad {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: .7em;
    font-family: sans-serif;
    flex: 1;
}

.cantidad>p {
    font-weight: bold;
    font-size: 16.55px;
}
/*LOGO PRINCIPAL*/
.logo {
    font-size: 27.5px;
    gap: 10px;
    display: flex;
    align-items: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.logo>img {
    width: 50px;
    height: 50px;
}

.logo>b {
    color: #696464;
}

/*MENU*/
#menu {
    display: flex;
    gap: 2em;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}

#menu>.profile-user>img {
    width: 33px;
    height: 33px;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
}

#menu div>i {
    font-size: 20.5px;
}

#menu div {
    cursor: pointer;
    color: #696464;
    padding: 5px;
    border-radius: 3px;
    transition: all 0.3s ease;
}

#menu div:hover{
    background-color: #ddd;
}

#menu div:active{
    background-color: rgb(90 125 188 / 6%);
}

#menu div:nth-child(1){
    color: #3d83df;
}

#menu a {
    color: #696464;
    font-size: 25px;
}

#cardProfile {
    display: none;
    position: absolute;
    right: 1em;
    z-index: 2;
    flex-direction: column;
    font-size: 16.5px;
    color: var(--primary);
    font-family: Arial, Helvetica, sans-serif;
    width: 160px;
    background-color: #fff;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;    border-radius: 5px;
    justify-content: center;
    align-items: center;
    height: 110px;

}

#cardProfile>a, #cardProfile>p ,#cardProfile>i{
    color: #323232;
    font-size: 16px;
}

#cerrarPerfil {
    border: none;
    color: #ff4646 !important;
    position: absolute;
    top: -05px;
    right: 2px;
    cursor: pointer;
    font-size: 1.5em;
    outline: none;
}

#abrirCarrito {
    margin: 0 !important;
}

#carritoIcono {
    font-size: 20px;
}

.modalCarrito {
    height: 100vh;
    width: 50%;
    z-index: 999;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.6);
    right: 0;
    padding: 0;
    display: none;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

@media screen and (max-width: 1000px) {
    .modalCarrito{
        width: 100%;
    }
}
#paypal-button-container {
    height: 12rem !important;
    box-sizing: border-box;
}
#paypal-button-container >.paypal-powered-by{
    margin: 0 auto !important;
}
/*CONTENEDOR DEL PERFIL*/
#perfilUsuario {
    bottom: 10em;
    width: 10rem;
    background-image: linear-gradient(to bottom, #ffecd2 0%, #fcb69f 100%);
    height: 10rem;
    right: 0;

}

/*END*/
.perfil {
    width: 2.3rem;
    height: 2.3rem;
}

.imagen {
    height: 90%;
    width: 96%;
    object-fit: cover;
}

/************
INDEX PRINCIPAL DE LA PAGINA 
*****/
#index {
    height: calc(100vh - 60px);
    overflow: auto;
    flex-direction: column;
    scroll-behavior: smooth;
}

.content-main {
    height: calc(100vh - 60px);
    background-color: #fff;
    display: inline-flex;
    transition: .2s;
    padding-bottom: 2em ;
    border-bottom: .3em solid var(--primary);
    width: 100%;
}

.content-main>aside {
    width: 22rem;
    padding: 2em 0 1em 1em;
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.content-main>aside>h3 {
    color: #3d83df;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 21px;
    margin-bottom: 1.5em;

}

.content-main>aside>p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    text-align: center  ;
    line-height: 1.5em;
}

.content-main>main {
    flex: 1;
    padding: 1em;
    width: calc(100ch - 22rem );
}
@media screen and (max-width: 780px) {
    .content-main{
        flex-direction: column;
        height: auto !important;
     
    }
    .content-main>aside{
        width: 100%; 
    }  
    .content-main >main{
        width: auto !important;
    }  
}
.product-more {
    width: 100%;
    height: 900px;
    box-sizing: border-box;
    padding: 1em 0 0 0;
}

.ranking {
    display: flex;
    gap: 3em;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
}

.top-product {
    width: 15rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 17.5rem;
    box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
}
.top-product >img{
    margin-top: .5em;
    width: 12rem;
    object-fit: cover;
    height: 10rem;
    border-radius: 5px;
    margin-bottom: 1em;
}
.top-product h3, .top-product p{
    text-align: center;
    color: #696464;
    flex: 1;
    font-size: 16.8px;
    font-family: Arial, Helvetica, sans-serif;
}
.top-product div{
    color: #f1f2f3;
    font-size: 16px;
    box-sizing: border-box;
    padding: .5em 1em;
    display: flex;
    background-color: var(--primary);
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    margin-bottom: 1em;
}
.articles {
    display: flex;
    flex-direction: column;
    margin: 3.5em 0;
    gap: 40px;
}

.articles h1 {
    text-align: center;
    color: #696464;
    font-size: 29px;
    font-family: Arial, Helvetica, sans-serif;
}

.articles>section {
    display: flex;
    margin-top:3em;
    width: 80%;
    align-self: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 1em;
}

.article {
    width: 12rem;
    gap: .5em;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 9rem;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.article>i {
    color: var(--primary);
    font-size: 3.2em;
}

.article>h3 {
    font-size: 16px;
    color: #696464;
    font-family: sans-serif;
    text-align: center;
}

.visitP {
    margin-top: 3em;
    margin-bottom: 1em;
    height: 4rem;
    width: 13rem;
    font-weight: bold;
    background-color: var(--primary);
    cursor: pointer;
    color: #fff !important;
    font-family: sans-serif;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    padding: .5em 1em;
    box-sizing: border-box;
    transition: .2s;
}

.visitP:hover {
    transform: scale(1.05);
}

/*CONTENEDOR DE PRODUCTOS****************************************/
#contenedorProductos {
    height: calc(100vh - 60px);
    display: none;
    flex-direction: column;
    overflow: auto;
    box-sizing: border-box;
}
#contenedorProductos >section{
    flex: 1;
    height: calc(100vh - 60px);
    display: flex;
}
.filter-product{
    height: 100%;
    box-sizing: border-box;
    padding: 2em 1em;
    font-size: 16px;
    font-family: sans-serif;
    justify-content: center;
    display: flex;
    flex-direction: column;
    width: 15rem;
    background-color: #fff;
    color: rgb(104, 113, 121);
    gap: .5em;
}
.filter-product >h2{
    color: var(--primary);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 19.4px;
    margin-bottom: 1em;
}
.filter-product form >input[type='search']{
    height: 2.8rem;
    width: 100%;
    font-size: 16px;
    padding:  0 .5em;
    display: flex;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    outline: none;
    border: 1.5px solid var(--primary);
    border-radius: 5px;
    color: #696464;
    margin-bottom: 1em;
}
.filtros{
    display: none;
}
.filter-product >label{
    color: #696464;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.1em;
    line-height: 1.6em;
    margin-bottom: .5em;
    border-bottom: .1px solid #949090;
}
.cont-product{
    flex: 1;
    padding: 1em 0;
    box-sizing: border-box;
    overflow: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    row-gap: 2em;
    background-color: #f1f2f3;
    
}
@media screen and (max-width: 900px) {
    .cont-product{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }
}
@media screen and (min-width: 500px) and (max-width: 761px) {
    .cont-product {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    }
}
@media  screen and (min-width: 800px) and (max-width: 1010px) {

    .cont-product{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }
    .cardNoResults{
        width: 20rem;
        height: 20rem;
    }
    
}
@media  screen and (min-width: 300px) and (max-width: 500px){
    #contenedorProductos >section {
        flex-direction: column;
    } 
    .filter-product img{
        display: none;
    }
    .filter-product{
        height: 8rem;
        width: 100%;
        align-items: center;
        display: flex;
        gap: .5em;
        flex-direction: column;
        justify-content: center;
    }
    .cont-product{
        grid-template-columns:  1fr;
        grid-template-rows: 1fr;
    }
    .cardNoResults{
        width: 15rem !important;
        height: 15rem !important;
    } 

}

#buscar{
    top: -10px;
    right: 1px;
    cursor: pointer;
    outline: none;
    border: none;
    background-color: transparent;
    padding: .4em .25em;
    display: inline-flex;
    margin-top: 1em;
    gap: .5em;
    border-radius: 10px;
    font-size: 16.5px;
    position: absolute;
    color: var(--primary);
    align-items: center;
}
#form-query{
    position: relative;
}
#contenedorProductos {
    scrollbar-width: thin;
    scrollbar-color: #333 #111;
}

/* Estilos para la barra de scroll */
.contenedorProductos::-webkit-scrollbar {
    width: 8px;
}

.contenedorProductos::-webkit-scrollbar-thum {
    background-color: var(--primary);
    border-radius: 10px;
}

.contenedorProductos::-webkit-scrollbar-track {
    background-color: violet;
    border-radius: 10px;
}


/*CONTENEDOR DE PRODUCTOS */
.contProductos {
    width: 100%;
    gap: .5em;
    flex-direction: column;
    display: none;
    height: calc(100vh - 90px);
}

/*Responsive de  los productos*/
@media screen and (max-width: 800px) {
    .contProductos {
        box-sizing: border-box;
        padding: .2em;
        justify-content: center;
    }

    .conBotones {
        flex-direction: column;
        justify-content: none;
        gap: 0;

    }

    .boton {
        height: 10rem !important;
    }

    .asideCrearproductos p {
        height: 30px;
        display: flex;
        align-items: center;
    }
}

/*Carrito de compras*/
#form-eliminar {
    flex: 1;
    overflow: auto;
}

.contboton {
    align-items: center;
    display: flex;
    justify-content: space-around;
}

a {
    text-decoration: none;
}

.contCarrito {
    display: flex;
    background-color: #fff;
    height: 100%;
    width: 100%;
    flex-direction: column;
    transition: all 3s ease;
    text-align: center;
    justify-content: space-between;
    box-sizing: border-box;
    overflow: auto;
    padding: .5em;
    opacity: o;
    padding-left: 1em;
}

.contCarrito h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 19px;
    color: var(--primary);
    font-weight: normal;
}

.contC {
    margin-top: 0.5em;
    position: absolute;
    left: 2%;
    gap: .5em;
    display: flex;
    align-items: center;
    height: 2.3rem;
    border-radius: 5px;
    background: #f1f2f3;
    justify-content: center;
    box-sizing: border-box;
    padding: .2em;
}

#cerrarCarrito {
    width: 2.2rem;
    height: 2.2rem;
    background-color: none;
    font-size: 20px;
    position: absolute;
    top: 1em;
    right: .5em;
    z-index: 999;
    color: rgba(0,0,0,.5);
    cursor: pointer;
    font-weight: bold;
}

@keyframes carrito {
    0% {
        transform: translateX(25rem);
    }

    100% {
        transform: translateX(0);
    }

}

#seleccionarTodo {
    width: 1rem;
    background-color: #61d963;
    display: flex;
    flex-direction: column;
    height: 1rem;
}
.pagar{
    background-color: #61d963;
    border-radius: .5em;
    padding: .5em .7em;
    color: #fff;
    font-size: 16.5px;
}
.paypal{
    background-color: #0070ba;
}
.deleteCarrito {
    background-color: #cc3636;
    display: none;
    padding: .5em !important;
    margin-bottom: .5em;
    height: auto !important;

}

.successCarrito {
    background-color: #369237;
}

.botonCarrito {
    height: 2.8rem;
    font-size: 14px;
    border: none;
    padding: 1em .5em;
    outline: none;
    color: #f9fffa;
    border-radius: 4px;
    box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
}

/***/

/*PRODUCTOS*/
.cardProducto {
    cursor: pointer;
    width: 260px;
    height: 310px;
    padding: .2em 09;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-self: center;
    background-color: #fff;
}

.cardNoResults{
    width: 30rem;
    height: 30rem;
    object-fit: cover;
    grid-column: span 3;
    place-items: center;
    justify-content: center;
    justify-self: center;
    grid-row: span 3;
}
.cardNoResults >img{
    width: 80%;
    height: 80%;
}
.cardNoResults >p{
    color: #696464;
    text-align: center;
    font-size: 16.5px;
}
form.cardProductoS {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.cardProducto:hover {
    transform: scale(1.02);
}

.imgProducto {
    width: 90%;
    height: 160px;
    object-fit: contain;
}

.informacionProducto {
    font-size: 13.5px !important;
    padding-top: .2em;
    flex: 1;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.enviarId {
    position: absolute;
    top: .5em;
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
}

.enviarId:hover>i {
    transform: scale(1.1);
}

.enviarId:before {
    content: "Ver detalles";
    font-size: 11px;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: absolute;
    display: none;
    left: 2em;
}

.enviarId:hover:before {
    display: flex;
}

.enviarId>i {
    transition: .2s;
    font-size: 22px;
    color: var(--primary);
}

.cantidad_ {
    width: 35px;
    align-self: center;
    height: 1.3rem;
    outline: none;
    font-size: 14px;
    margin-top: .5em;
    border: none;
    background-color: var(--primary);
    color: #fff;
    text-align: center;
    border-radius: 5px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


.nombreProducto {
    margin-top: .6em;
    margin-left: .5em;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.precioProducto {
    margin-left: .5em;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}

.addCarrito {
    border: none;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color:  var(--primary);
    height: 2.1rem;
    margin: 2.76em 0 0 0;
    font-size: 1.31em;
    width: 100%;
}



/*Contenedor de detalles del producto*/
#contenedorDetalleP {
    display: none;
    height: 100vh;
    z-index: 999;
    position: absolute;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: rgba(0, 0, 0, .45);
    backdrop-filter: blur(1.5px);
}

.contenidoDetalleP {
    display: flex;
    width: 820px;
    box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
    height: 460px;
    background-color: #fff;
    border-radius: .8em;
    padding-bottom: 1em;
    padding-right: 2em;
    padding-left: 2em;
}

.contenidoDetalleP>img {
    width: 380px;
    height: 380px;
    margin-left: 1em;
    align-self: center;
}

.megusta {
    display: none;
    padding: .5em;
    position: absolute;
    left: -14em;
    bottom: 12em;
    transition: .2s;
    animation: megusta .8s ease-in-out;
    animation-fill-mode: backwards;

}

.megusta>i {
    font-size: 5.5em;
    color: lightgrey;
}

@keyframes megusta {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.3);
    }
}

.informacionDetalleP {
    position: relative;
    display: flex;
    flex-direction: column;
    flex: 1;
    box-sizing: border-box;
    padding: 3em 2.3em 3em 2em
}

.informacionDetalleP h2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    color: var(--primary);
    line-height: 2em;
    text-transform: uppercase;
}

.informacionDetalleP h1, .informacionDetalleP>p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 29px;
    text-transform: uppercase;
    color: #232323;
    line-height: 1em;
}

.informacionDetalleP :nth-child(3) {
    color: var(--primary);
    line-height: 1.5em;
    font-family: Arial, Helvetica, sans-serif;
}

.informacionDetalleP :nth-child(4) {
    font-size: 14px;
    color: #696464;
    line-height: 1.5em;
    font-weight: 100;
}

.informacionDetalleP :nth-child(5) {
    font-size: 16.5px !important;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: none;
    line-height: 1.35em;
    margin-top: 1em;
    place-items: start;
    justify-content: center;
}

/*Responsive de la tarjeta de detalle del producto*/
@media screen and (max-width :880px) {
    .contenidoDetalleP {
        width: 350px;
        max-width: 700px;
        flex-direction: column;
        height: 98%;
        padding-top: 0 !important;
    }

    .contenidoDetalleP>img {
        width: 200px;
        height: 200px;
        margin: 1em 0 0 0 ;
    }

    #cerrarContenedorDP {
        top: -4em !important;
        right: 0em !important;
    }

    .añadirCarrito>:nth-child(1) {
        width: 160px !important;
        font-size: 17px !important;
    }

    .añadirCarrito>:nth-child(2) {
        left: 60% !important;
    }

    .formularioDarmegusta>button {
        left: 80% !important;
    }



    .megusta {
        left: 7em;
        bottom: 27em;
    }
    .informacionDetalleP{
        padding: 1em !important;
    }
}

.añadirCarrito>:nth-child(1), .añadirCarrito>:nth-child(2), .formularioDarmegusta>button {
    position: absolute;
    width: 235px;
    height: 53px;
    background-color: var(--primary);
    color: #fff;
    border-radius: 2px;
    bottom: 1em;
    left: 1.5em;
    cursor: pointer;
    border: none;
    outline: none;
    font-size: 20px;
    text-transform: uppercase;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.añadirCarrito :nth-child(2) {
    width: 55px;
    height: 52px;
    left: 65%;
    font-size: 20px;
    text-align: center;
}

#carMovil {
    display: none !important;
}

.formularioDarmegusta>button {
    width: 70px;
    font-size: 21.5px;
    height: 51px;
    box-sizing: border-box;
    left: 78.5%;
}

#cerrarContenedorDP {
    font-size: 2.2em;
    color: var(--primary);
    position: absolute;
    right: 1em;
    cursor: pointer;
    top: .5em;
}

/*CONTENEDOR DE CREAR DESAYUNO*/
#contenedorCrearProductos {
    height: calc(100vh - 60px);
    overflow: hidden;
}

.contenedorProductos {
    overflow: auto;
    gap: 1.3em;
    justify-content: space-evenly;
    display: flex;
    flex: 1;
    align-items: center;
    box-sizing: border-box;
    flex-wrap: wrap;
    padding: .5em;
}

.contProductos h2 {
    color: var(--primary);
    margin-bottom: .2em;
    text-align: center;
}

.asideCrearproductos {
    display: flex;
    flex: 1;
    background-image: linear-gradient(to top, #d299c26e 0%, #fdfae510 100%);
    flex-direction: column;
    align-items: center;
    height: 100%;
    justify-content: space-evenly;
}

.asideCrearproductos h2 {
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: #232323;
    text-align: center;
    height: 50px;
    font-size: 20px;
    color: var(--primary);
    margin-top: 1em;
}

/*ESTILOS AL BOTON*/
.conBotones {
    flex: 1;
    width: 100%;
    justify-content: center;
    display: flex;
    align-items: center;
    gap: 2em;
}

.boton {
    color: var(--primary);
    font-weight: bold;
    width: 16rem;
    height: 16rem;
    padding: .2em;
    display: flex;
    flex-direction: column;
    gap: .5em;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 5px;
    background-color: floralwhite;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    cursor: pointer;
}

.boton:hover {
    background-color: var(--primary);
    transition: .2s;
    color: #f9f9f9;
    transform: scale(1.1);
}

/*CONTENEDORES DE LAS CAJAS*/
.contenedores {
    overflow: auto;
    text-align: center;
    width: 30rem;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    background-color: #fff;
    display: none;
    animation: carrito .5s;
    overflow: auto;
}

#contenedorMediano {
    width: 100% !important;
}

#contenedorGrande {
    width: 100% !important;
}

/*CAJA MEDIANA*/
.cajaMediana {
    width: 25rem !important;
}

.cajaGrande {
    width: 28rem !important;
    height: 18rem !important;
}

/*CERRAR LA CAJA*/
.closModalCaja {
    margin-top: 2em;
    width: 12rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    color: #fff;
    height: 2.5rem;
    background-color: var(--primary);
}

/*vaciarCaja*/
.vaciarCaja {
    border-radius: 5px;
    padding: .5em .8em;
    box-sizing: border-box;
    border: none;
    color: #fff;
    outline: none;
    background-color: rgb(255, 208, 0);
}

/*TABLA CSS*/
.tabla {

    border-collapse: collapse;
    width: 100%;
    font-size: 16px;
    font-family: Arial, sans-serif;
    margin-top: 20px;
    margin-bottom: 20px;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
    border: 1px solid #ddd;
}

.tabla th,
.tabla td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
    /* Centra el contenido de cada celda */
}

.tabla th {
    background-color: #f2f2f2;
    color: #666;
    font-weight: bold;
    text-transform: uppercase;
}

.tabla td {
    color: #444;
}

.tabla button {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 5px;
}

.tabla button:hover {
    background-color: #f2f2f2;
}

.tabla-categorias i {
    font-size: 16px;
}

.tabla-categorias i.fa-pencil-alt {
    color: green;
}

.tabla-categorias i.fa-trash-alt {
    color: red;
}


/* Estilos generales para la tabla */
.autotable {
    width: 100%;
    align-self: center;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
    color: #333;
  }
  
  /* Estilos para las celdas del encabezado de la tabla */
  .autotable th {
    background-color: #007bff; /* Azul melo */
    color: white;
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
  }
  
  /* Estilos para las celdas de datos en la tabla */
  .autotable td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
  }
  
  /* Estilos para las filas impares en la tabla */
  .autotable tr:nth-child(odd) {
    background-color: #f2f2f2; /* Gris claro para filas impares */
  }
  
  /* Estilos para el mensaje cuando no hay compras */
  .no-compras {
    font-weight: bold;
    color: red;
  }













/*INGREDIENTES*/
#ingredientes {
    border-radius: 15px;
    width: 11rem;
    display: flex;
    flex-direction: column;
    height: 15rem;
    background-color: rgba(255, 255, 255, 0.596);
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.imagenIngrediente {
    height: 55%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.imagenIngrediente img {
    height: 100%;
    width: 100%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;

}

.contIngredientes {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contIngredientes .stock {
    font-size: 13.5px;
    font-family: sans-serif;
}

.añadircaja {
    height: 2.2em;
    margin-top: .4em;
    border-radius: 10px;
    background-color: var(--primary);
    border: none;
    color: #fff;
    outline: none;
    border-radius: 5px;
    box-sizing: border-box;
    padding: .3em;
}

/*estilos a la caja */
.mi-caja {
    width: 20rem;
    height: 15rem;
    background-image: url('../img/fondoCaja.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    position: relative;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.crearDesayun {
    bottom: -7.5em;
    right: -0em;
    height: 2.85em;
    border: none;
    outline: none;
    padding: 0 .2em;
    border-radius: 4px;
    width: 9rem;
    color: #fff;
    background-color: rgb(80, 173, 80);
    position: absolute;
}

.nombreDesayuno {
    top: -7em;
    left: 1em;
    padding: .3em;
    outline: none;
    position: absolute;
    width: 80%;
    height: 2.2em;
    border: 1px solid #cac3c86e;
    font-size: 15.5px;
}

#headerResponsive, #contMenu {
    display: none;
}

@media screen and (min-width: 800px) {
    #contMenu {
        display: none !important;
    }
}


/*MENU RESPOSIVE*/

@media screen and (max-width: 800px) {

    #header {
        display: none;
    }


    .contenedores {
        justify-content: start;
        padding: .5em;
    }


    #headerResponsive {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 60px;
        background-color: #fff;
        box-sizing: border-box;
        padding: .5em 1em;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    }

    .logo * {
        font-size: .8em;
    }

    .openMenu, .closeMenu {
        font-size: 1.3em;
        color: #fff;
        cursor: pointer;
    }

    .openMenu i {
        color: var(--primary);
    }

    .closeMenu {
        display: flex;
        position: absolute;
        right: .55em;
        border: 1.5px solid #fff;
        padding: .2em .3em;
        top: .5em;
    }

    #contMenu {
        transform: translateX(-100%);
        z-index: 999;
        position: absolute;
        height: 100vh;
        width: 100%;
        display: flex;
        visibility: hidden;
        opacity: 0.2;
        background-color: rgba(0, 0, 0, 0.5);
        backdrop-filter: blur(2px);
        transition: all 0.35s ease;
    }
    
    .agg-menu{
        transform: translateX(0%) !important; 
        opacity: 1 !important;
        visibility: visible !important;
    }

    .menuResponsive {
        width: 85%;
        background-color: #fff;
        height: 100%;
        display: flex;
        flex-direction: column;
        padding: .6em;
        box-sizing: border-box;
    }

    .contenedorEnlaces {
        flex: 1;
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: .5em;
        margin-left: .7em;
        overflow: auto;
    }

    .enlaceMenu {
        border-radius: 5px;
        font-size: 17.5px;
        font-family: sans-serif;
        display: flex;
        gap: .6em;
        width: 97%;
        box-sizing: border-box;
        padding: 0 .2em;
        align-items: center;
        height: 3.5em;
        text-decoration: none;
        color: #1d1b1b !important;
    }

    .enlaceMenu>i {
        width: 1.3rem;
        color: var(--primary);
        font-size: 21px;
    }

    .enlaceMenu:not(i) {
        color: #454343 !important;
    }

    .profileResponsive {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        gap: .5em;
        height: 200px;
    }

    .profileResponsive img {
        width: 7.5rem;
        border-radius: 50%;
        object-fit: cover;
        height: 7.5rem;
    }

    .profileResponsive>p {
        font-family: sans-serif;
        font-size: 18px;
        color: #454343;
    }



    /*CONTENEDOR RESPONSIVE DE CREAR DESAYUNO*/
    #contenedorCrearProductos {
        flex-direction: column;
    }

    .contenedores {
        order: -1;
        height: 50% !important;
        width: 100%;
    }

    .contProductos {
        height: 50%;

    }

    #ingredientes {
        width: 9rem;
    }


    #contenedorIgredientes {
        justify-content: none !important;
    }

    /*AJUSTAR EL CARRITO DE COMPRAS EN MOVIL*/
    .contCarrito {
        width: 100%;
    }

    .tabla {
        font-size: 10px;
    }


    /*MENU RIGHT*/
    .menuRight {
        display: flex;
        align-items: center;
        gap: 1em;
    }


    /*PRODUCTOS RESPONSIVE*/
    /* .cardProducto {
        height: 300px;
        width: 160px;
    } */

    .cardProducto>img {
        height: 140px;
    }

    .addCarrito {
        width: 80%;
    }

    #contenedorProducto, .contenedorProductos {
        height: calc(100vh - 60px);
    }



}


/*MODAL PEDIDO*/
#modalPedido {
    height: 100vh; /* Puedes ajustar este valor según tus necesidades */
    overflow: hidden;
    width: 500px;
    max-width: 1200px;
    display: none;
    right: 0; 
    position: absolute;
    z-index: 37;
}






.showPedido {
    place-items: center;
    display: grid !important;
}

/*ANIMACION  PARA LA VENTANA MODAL PEDIDO */
.showPedido, #ModalCompra {
    display: none;
    position: fixed;
    z-index: 99;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}
#ModalCompra {
    background-color:rgba(0, 0, 0, 0.8) ;
}
.contenidoCompra{
    display: flex;
    width: 100%;
    height: 100%;
    background-color: #fff;
}
.contenidoCompra >article{
    flex: 1;
    padding: .8em;
    box-sizing: border-box;
}
@media screen and (max-width: 500px) {
    .contenidoCompra >article{
        overflow: auto;
        padding: 4em 0;
    }
    .contenidoCompra{
        flex-direction: column;
    }
}
 #detalleCompra{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
 }
#cerrarCompra{
    padding: .5em;
    background-color: tomato;
    color: #fff;
    font-size: 16.5px;
    position: absolute;
    right: 0;
    top: 0;

}
#modalCompra >section article{
   flex: 1; 
}
.modal-content {
    display: flex;
    justify-content: center;
    height: 100%;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    width: 100%;
    box-sizing: border-box;
    background-color: #fff;
}
.modal-content *{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.closeModalPedido {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.closeModalPedido:hover,
.closeModalPedido:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}


/*X close de la ventana*/
.closeP {
    font-size: 1.7em;
    font-weight: bold;
    color: lightslategray;
    z-index: 2;
    position: absolute;
    right: 0;
    top: 50%;
    transition: 0.2s;
    cursor: pointer;
    display: grid;
    place-items: center;
}



/*PEDIDO CSS*/

.listadoPedido {
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: #fff;
    overflow: auto;
    width: 100%;
}

.lista>.nombre {
    flex: 1;
    display: flex;
    align-items: center;
    height: 100%;
    color: #000;
    font-size: .8em;
    background-color: #f1f2f3;
    text-align: center;
    justify-content: center;
    font-family: sans-serif;
    border-right: .1px solid #aaa;
}

.lista>.fecha, .lista>.estado, .lista>.verFactura {
    flex: 1;
    background-color: #f1f2f3;
    text-align: center;
    align-items: center;
    border-right: .1px solid #aaa;
    color: #3b3838;
    font-size: .8em;
    justify-content: center;
    height: 100%;
    display: flex;
    font-family: sans-serif;
}

.lista {
    display: flex;
    height: 40px;
    align-items: center;
}


@media screen and (max-width: 600px) {
    .lista * {
        font-size: 12px !important;
    }

    .lista>.nombre {
        flex: 1.1;
    }


}

.listadoPedido :nth-child(1) *{
    background-color: #61d963;
    border: none;
}

/*Ventana modal de factura*/
#contenedorFactura {
    display: none;
    flex-direction: column;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    z-index: 999;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.contenidoFactura>.encabezado {
    display: flex;
    height: 7rem;
}

.viewf {
    background-color: transparent;
    outline: none;
    border: none;
    cursor: pointer;
}

.viewf:hover {
    transform: scale(1.1);
}

.viewf>i {
    color: #369237;
    font-size: 18.5px;
}

.contenidoFactura>.encabezado span {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-size: 1.1em;
    align-items: center;
    font-weight: 650;
    font-family: sans-serif;
    color: #363636;
}

.contenidoFactura>.listaArticulos {
    border-top: 3px solid #369237;
    flex: 1;
    display: flex;
    flex-direction: column;
}

.contenidoFactura>.listaArticulos>.lista-head {
    display: flex;
    position: sticky !important;
    top: 0 !important;
    height: 50px;
    background-color: #f1f2f3 !important;
    border-bottom: 1px solid #d9d3d3 !important;
}

.contenidoFactura>.listaArticulos>.itemsArticulos {
    display: flex;
    height: 30px;
    background-color: #f9f9f9;
    align-items: center;
}

.contenidoFactura>.listaArticulos>.itemsArticulos>span {
    flex: 2;
    align-items: flex-start;
    justify-content: center;
    box-sizing: border-box;
    padding-left: .5em;
}

.contenidoFactura>.listaArticulos>.itemsArticulos div {
    flex: 1;
    align-items: flex-start;
    justify-content: center;
}

.contenidoFactura>.listaArticulos>.itemsArticuloSubtotal {
    justify-content: flex-end;
    display: flex;
    height: 35px;
    align-items: center;
    box-sizing: border-box;
    padding-right: 10%;
    background-color: #f1f2f3;
}


.contenidoFactura>.footerFactura {
    display: flex;
    color: #363636;
    height: 2rem;
    font-weight: 650;
    align-items: center;
    justify-content: space-evenly;
}

.contenidoFactura {
    width: 80%;
    height: 95%;
    background-color: #f1f2f3;
    display: flex;
    flex-direction: column;
}

.contenidoFactura>.funcionesFactura>#descargarFactura {
    color: #369237;
    background-color: #f1f2f3;
    padding: .2em .5em;
    cursor: pointer;
}

#descargarFactura {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #363636;
}

.contenidoFactura>.funcionesFactura {
    display: flex;
    align-items: center;
    justify-content: space-around;

}

#cerrarFactura {
    color: tomato;
    cursor: pointer;
    font-size: 15px;
    border: 1px solid #f9f9f9;
    font-weight: bold;
    padding: .2em .5em;
    box-sizing: border-box;
    outline: none;
    background-color: #f1f2f3;
    top: 1px;
}

@media screen and (max-width: 768px) {
    .contenidoFactura {
        width: 90%;
        height: 90%;
    }

    .contenidoFactura>.listaArticulos *, .contenidoFactura>.footerFactura * {
        font-size: 13px !important;
    }

    .contenidoFactura>.encabezado * {
        font-size: 16px !important;
        font-weight: 700 !important;
    }

    .contenidoFactura>.encabezado {
        height: 6rem;
    }


    #contenedorFactura {
        justify-content: flex-start;
        padding: .5em 0;
        overflow: auto;
    }
}

/*Ventana modal de factura*/




/*ESTILOS AL FORMULARIO EDITAR PERFIL*/
 #modalEditarPerfil{
    height: 100%;
    width: 100%;
    display: none;
    align-items: center;
    flex-direction: column;
    position: absolute;
    background: #f9f9f9;
    z-index: 99;
    justify-content: center;

 }
 .botonesEditar{
    padding: .5em;
    border-radius: .5em;
    background-color: #4ab1d8;
    color: #fff;
    margin-top: 1em;
 }
 .closee{
    background-color: tomato;
 }
#editarPerfil{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    position: absolute;
}

#editarPerfil >h4{
    color: #4ab1d8;
    justify-self: start;
}


#editarPerfil >form{
    align-self: center;
    box-sizing: border-box;
    padding: 1em;
    display: flex;
    gap: 1em;
    flex-wrap: wrap;
    width: 90%;
    height: 50%;
    background-color: #fff;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.24);
}

.columna2e,.columna1e{
    flex: 1;
    flex-direction: column;
    display: flex;
    align-items: flex-start;
}
.columna1e{
    position: relative !important;
}
.columna1e,.columna2e >label{
    font-weight: bold;
    font-size: 14px;
}
.itemInput{
    margin: .3em 0 1em 0;
    height: 2.5rem;
    box-sizing: border-box;
    padding:0 .3em ;
    font-size: 14px;
    outline: none;
    color: lightslategray;
    border: none;
    border-radius: 5px;
    width: 100%;

}

[name="guardarCambios"] {
    display: none;
    text-align: center;
    justify-content: center;
    align-items: center;
  }
  
#editarPerfil >form div:nth-child(2) ~:last-child {
    background-color: #4ab1d8;
    color: #fff;;
    border-radius: 4px;
    position: absolute;
    width: 30%;
    bottom: 15%;
    cursor: pointer;
    height: 3rem;
    
}

.swiper-button-next, .swiper-button-prev{
    width: 35px !important;
    height: 35px !important;
    background-color: #fff!important;
    border-radius: 50%;
    box-shadow: 0 5px 5px rgba(0,0,0,.25) !important;
    overflow: hidden;
    padding: 0;
    color: #3d83df;
}

.swiper-button-next:after, .swiper-button-prev:after{
    font-size: 22px !important;
    font-weight: 900;
}