
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

:root {
  --azulOscuro: #2d57a8;
  --verdeClaro: #b5ddca;
  --verdeOscuro: #33a892;
  --blanco: #fffefe;
  --grisClaro : #f1f2f5;
  --azulClaro: #6d93c9;
  --fuente: sans-serif;
}


body{
  display: flex;
  height: 100vh;
  background-color: #f6f8fc;
}


.yuli{
  display: flex;
  flex-direction: column;
  width: 40vh;
  position: relative;
  height: 100%;
}

.yuli .icon{
  position: relative;
  top: 15px;
}
.aside{
  display: flex;
  flex-direction: column;
  /* border: 1px solid; */
  margin-top: -40px;
  width: 40vh;
}
.adder{
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 4rem;
  width: 100%;
  background-color: #f6f8fc;
}

.nabber{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 5rem;
}

.nabber i{
  font-size: 1.8rem;
  cursor: pointer;
}

.nabber div{
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 1rem;
}

.nabber div p{
  font-size: 20px;
  font-weight: 500;
}

 .nabber div img{
  width: 30%;
  height: 2rem;
  object-fit: contain;
}

.buscador{
  display: flex;
  position: relative;
  align-items: center;
  width: 60%;
  height: 4rem;
}

.buscador div{
  display: flex;
  position: relative;
  align-items: center;
  width: 100%;
  height: 90%;
}
.buscador div input{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  border-radius: 1.5rem;
  border: none;
  background: #eaf1fb;
  height: 3rem;
  font-size: 1rem;
  padding-left: 3.5rem;
}


.buscador div input:focus{
  outline: none;
  border: 1px solid rgba(128, 128, 128, 0.103);
  background-color: #fff;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 2px 8px;
}
.buscador div i{
  position: absolute;
  left: 1rem;
  font-size: 1.5rem;
  color: #444746;
}

.optio{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 33%;
}

.option-true{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0rem 1.5rem;
}
.option-true i{
  font-size: 1.5rem;
  margin-top: 4px;
  color: #5f6368;
  cursor: pointer;
}


.cont-usu{
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: 45px;
  height: 45px;
  border-radius: 30px;

}

.cont-usu:hover{
  transform: scale3d(1.1deg);
}

.cont-usu  img{
  width: 100%;
  height: 100%;
  object-fit:contain;
  border-radius: 50px;
}

.cuentas{
  display: none;
  position: absolute;
  right: 2.5%;
  top: 11%;
  width: 26%;
  padding: 0.8rem 0.8rem;
  border-radius: 17px;
  height: auto;
  background-color: #eaf1fb;
}
.dash{
  display: block;
}

.overflow{
  height: auto;
  overflow-y: scroll;
  max-height: 25rem;
}

.overflow {
  scrollbar-width: none;
  /* Oculta la barra de desplazamiento */
}

.overflow::-webkit-scrollbar-thumb {
  background-color: transparent;
  /* Oculta el pulgar de la barra de desplazamiento */
}


.cuentas header{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
}

.cuentas header h2{
  font-size: 14px;
}
.cuentas .dash-img{
  margin: 0.8rem 0rem;
  width: 29%;
  height: 5rem;
  border-radius: 50%;
}

.cuentas .dash-img img{
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 50%;
}

.cuentas header button{
  width: 70%;
  height: 2.8rem;
  border-radius: 25px;
  cursor: pointer;
  border: none;
  color: #2d57a8;
  font-weight: 550;
  background-color: transparent;
  border: 1px solid gray;
}


.darf{
  height: auto;
  margin-top: 1rem;
}

.fores-u{
  list-style: none;
}

.fores-u summary{
  display: flex;
  align-items: center;
  padding-left: 1rem;
  cursor: pointer;
  color: #333;
  font-weight: 550;
  border-radius: 1.5rem 1.5rem 0rem 0rem;
  background-color: white;
  height: 3.5rem;
}

.count{
  display: flex;
  border-radius: 5px;
  background-color: white;
  height: 3.9rem;
  margin-top: 3px;
}

.count .fal{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 19%;
}

.count .fole{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 81%;
}

.count .fole h4{
  font-size: 15px;
  font-weight: 550;
  color: #333;
}

.count .fole p{
  font-size: 13px;
  margin-top: 2px;
  color: rgb(20, 15, 15);
}
.count .fal div{
  border: 1px solid black;
  width: 69%;
  height: 70%;
  border-radius: 50%;
}

.count .fal div img{
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 50%;
}

.from-details{
  background-color: white;
  margin-top: 3px;
  height: 3.5rem;
  border-radius: 0rem 0rem 1.5rem 1.5rem;
}

.from-details button{
  display: flex;
  align-items: center;
  background-color: white;
  margin-top: 3px;
  width: 100%;
  color:#444746;
  font-weight: 550;
  height: 100%;
  border: none;
  cursor: pointer;
  text-align: left;
  padding: 0rem 1.5rem;
  border-radius: 0rem 0rem 1.5rem 1.5rem;
}

.from-details:hover{
  background-color: rgba(128, 128, 128, 0.144);
}



.from-details button i{
  margin-right: 1rem;
  font-size: 1.3rem;
  color: #333;
}


/* Estilos para el custom select */
.custom-select {
  width: 65%;
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.selected-option {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  display: flex;
  align-items: center;

}

.selected-option i{
  margin-right: 0.7rem;
}

.options {
  display: none;
  position: absolute;
  background-color: #fff;
  border: 1px solid #ccc;
  border-top: none;
  border-radius: 0 0 5px 5px;
  z-index: 1;
}

.option {
  padding: 10px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.option i {
  margin-right: 10px;
}
.show{
  display: block;
}

/* SECCION PARA DECORAR EL CUERPO DEL PROYECTO */

.mader{
  display: flex;
  width: 100%;
}

.naver{
  width: 95%;
}

.menu{
  width: 100%;
  height: 100vh;
}

.hoss{
  padding: 2rem 0rem;
  height: auto;
}

.doss{
  background-color: #d3e3fd;
  
}
.doss div{
  color: #333; 
  font-weight: 550 !important; 
}

.hoss .toggle-dic{
  display: flex;
  align-items: center;
  width: 100%;
  height: 2.2rem;
  cursor: pointer;
  border-radius: 0rem 0.9rem 0.9rem 0rem;
}
.toggle-dic:hover{
  background-color: #f2f2f2;
}
.hoss .toggle-dic div{
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 0rem 1.2rem;
  color: #444746;
  font-weight: 400;
  font-size: 15px;
}

.hoss .toggle-dic div i{
  color: #444746;
  margin-right: 0.9rem;
}


.cuerpores{
  border-radius: 1rem;
  width: 99%;
  height: 88.3%;
  background-color: #ffffff;
}

.paginas{
  height: 100%;
  width: 100%;
  /* border: 1px solid; */
}




/* modificaciones para Mis formulas */



.formulas{
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  align-items: center;
  padding: 0.5rem 0rem;
}


.opt_config{
  display: flex;
  align-items: center;
  width: 98%;
  height: 10%;
  background-color: #f0f0f0;
  border-radius: 5px;
}

.search{
  position: relative;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
  height: 100%;
  margin-left: 15px;
}

.search input[type='search']{
  border: rgb(172, 172, 172) solid 1px;
  height: 35px;
  border-radius: 3px;
  width: 100%;
  font-size: 1em;
  padding-left: 3rem;
  background-color: transparent;
  border: none;
}
.search i{
  color: #6c6c6c;
  position: absolute;
  left: 14px;
  font-size: 1.6rem;
}


.search input:focus {
  outline: none;
  border: 1px solid rgb(65, 84, 250);
}
.rotate{
  transform: rotate(0.5turn);
}


.filtros{
  width: 30%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: #6c6c6c;
}

.filtros i{
  transform: rotate(90deg);
  font-size: 1.5rem;
}
.filtros div{
  padding: 0.3rem 0.65rem;
}
.filtros div:hover{
  background-color: rgba(0,0,0,.06);
}

.config_filtros{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
 cursor:pointer;
}

.cards_formulas{
  width: 98%;
  height: 90%;
  overflow: auto;
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.cards_formulas {
  scrollbar-width: none;
  /* Oculta la barra de desplazamiento */
}

.cards_formulas::-webkit-scrollbar-thumb {
  background-color: transparent;
  /* Oculta el pulgar de la barra de desplazamiento */
}

.scroll2{
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.card{
  width: 32.5%;
  margin-top: 0.8rem;
  height: 200px;
  border: rgb(197, 197, 197) 1px solid;
  padding: 0.8rem 0.8rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 2px;
  border-radius: 5px;
  position: relative;
}

.firts_line{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 20px;
}

/* modificaciones para papelera */
.cont-p{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 700px;
  overflow: auto;
}

.icon{
  display: flex;
  width: 3rem;
  height: 2rem;
  justify-content: center;
  align-items: center;
  font-size: 2em;
}

.bt-form button{
  border: 1px solid black;
  width: 10rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #33a892;
}

.sect-p{
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.rect{
  border: 1px solid black;
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.icon-cuadro{
  font-size: 2em;
}

.cont-cd{
  display: flex;
  justify-content:space-between;
  align-items: center;
  gap: 15px;
}

/* checkbox settings 游녢 */

.ui-checkbox {
  --primary-color: #1677ff;
  --secondary-color: #fff;
  --primary-hover-color: #4096ff;
  /* checkbox */
  --checkbox-diameter: 20px;
  --checkbox-border-radius: 5px;
  --checkbox-border-color: black;
  --checkbox-border-width: 1px;
  --checkbox-border-style: solid;
  /* checkmark */
  --checkmark-size: 1.2;
}

.ui-checkbox, 
.ui-checkbox *, 
.ui-checkbox *::before, 
.ui-checkbox *::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.ui-checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: var(--checkbox-diameter);
  height: var(--checkbox-diameter);
  border-radius: var(--checkbox-border-radius);
  background: var(--secondary-color);
  border: var(--checkbox-border-width) var(--checkbox-border-style) var(--checkbox-border-color);
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  cursor: pointer;
  position: relative;
}

.ui-checkbox::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-box-shadow: 0 0 0 calc(var(--checkbox-diameter) / 2.5) var(--primary-color);
  box-shadow: 0 0 0 calc(var(--checkbox-diameter) / 2.5) var(--primary-color);
  border-radius: inherit;
  opacity: 0;
  -webkit-transition: all 0.5s cubic-bezier(0.12, 0.4, 0.29, 1.46);
  -o-transition: all 0.5s cubic-bezier(0.12, 0.4, 0.29, 1.46);
  transition: all 0.5s cubic-bezier(0.12, 0.4, 0.29, 1.46);
}

.ui-checkbox::before {
  top: 40%;
  left: 50%;
  content: "";
  position: absolute;
  width: 4px;
  height: 7px;
  border-right: 2px solid var(--secondary-color);
  border-bottom: 2px solid var(--secondary-color);
  -webkit-transform: translate(-50%, -50%) rotate(45deg) scale(0);
  -ms-transform: translate(-50%, -50%) rotate(45deg) scale(0);
  transform: translate(-50%, -50%) rotate(45deg) scale(0);
  opacity: 0;
  -webkit-transition: all 0.1s cubic-bezier(0.71, -0.46, 0.88, 0.6),opacity 0.1s;
  -o-transition: all 0.1s cubic-bezier(0.71, -0.46, 0.88, 0.6),opacity 0.1s;
  transition: all 0.1s cubic-bezier(0.71, -0.46, 0.88, 0.6),opacity 0.1s;
}

/* actions */

.ui-checkbox:hover {
  border-color: var(--primary-color);
}

.ui-checkbox:checked {
  background: var(--primary-color);
  border-color: black;
}

.ui-checkbox:checked::before {
  opacity: 1;
  -webkit-transform: translate(-50%, -50%) rotate(45deg) scale(var(--checkmark-size));
  -ms-transform: translate(-50%, -50%) rotate(45deg) scale(var(--checkmark-size));
  transform: translate(-50%, -50%) rotate(45deg) scale(var(--checkmark-size));
  -webkit-transition: all 0.2s cubic-bezier(0.12, 0.4, 0.29, 1.46) 0.1s;
  -o-transition: all 0.2s cubic-bezier(0.12, 0.4, 0.29, 1.46) 0.1s;
  transition: all 0.2s cubic-bezier(0.12, 0.4, 0.29, 1.46) 0.1s;
}

.ui-checkbox:active:not(:checked)::after {
  -webkit-transition: none;
  -o-transition: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  transition: none;
  opacity: 1;
}

.date-card{
  font-size: 0.8em;
}

.state-card{
  border: 1px solid rgb(187, 187, 187);
  height: 20px;
  width: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8em;
  border: none;
  border-radius: 4px;
  color: #333;
  background-color: orange;
}


.title_card{
  font-size: 1em;
}

.second-line{
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.profesion{
  font-size: 0.7em;
}

.name_doc{
  font-weight: bolder;
}

.third-line{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 1rem;
}

.menu_card{
  display: none;
  position: absolute;
  right: 25px;
  bottom: 10px;
  width: 100px;
  height: 80px;
  background-color: white;
  border: rgb(197, 197, 197) 1px solid;
  padding-left: 5px;
}

.menu_card ul{
  height: 100%;
  width: 100%;
  display: flex;
 flex-direction: column;
  gap: 10px; 
  justify-content: center;
}

.menu_card ul li{
  list-style: none;
  font-size: 1.1em;
}

.delete{
  color: red;
}


@media (max-width: 767px) {
  .yuli {
  display: flex;
  height: 100vh;
  position: relative; /* Agregamos posici칩n relativa para controlar los iconos */
}

.yuli .aside {
  width: 13%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #eaf1fb;
  transition: 0.5s;
  overflow-x: hidden;
  padding-top: 60px;
  z-index: 1;
}


.yuli.active .aside {
  width: 70%;
  height: 100vh;
}

/* Estilo para los iconos cuando el aside no est치 activo */
.yuli .icon {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2; /* Asegura que los iconos est칠n por encima del aside */
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.yuli.active .icon {
  display: none; /* Oculta los iconos cuando el aside est치 activo */
}

.yuli .icon i {
  color: #000;
  font-size: 45px;
  margin-top:50px;
  margin-left: 15px;
}

.cuerpores{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 430px;
  border-radius: 0;
}

.mader{
  width: 100%;
  display: flex;
  align-items: center;
  height: 100vh;
  justify-content: center;
}

.menu{
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hoss{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  margin-top: 40px;
}

.toggle-dic div i{
  font-size: 30px;

}

.doss{
  background-color: #d3e3fd;
  padding:1.7rem 0rem;
}

/* Oculta .logo-container cuando el aside no est치 activo */
.yuli:not(.active) .logo {
  display: none;
}

/* Muestra .logo-container cuando el aside est치 activo */
.yuli.active .logo{
  display: block;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
}

.buscador{
  width: 90%;
}

.adder{
  flex-direction: column;
  height: 8rem;
}

.optio{
  width: 90%;
  display: flex;
  gap: 30px;
  margin-bottom: 10px;
}


.opt_config{
  flex-direction: column;
  height: 8rem;
}

.search{
  width: 90%;
}

.filtros{
  display: flex;
  justify-content: space-between;
  width: 90%;
}


.cards_formulas{
  height: 73%;
}

.cuentas{
  width: 82%;
}


.paginas{
  width: 93%;
  height: 80vh;
  padding: 4px 4px;
  border: 1px solid;
}




}