
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

:root {
  --azulOscuro: #2d57a8;
  --verdeClaro: #b5ddca;
  --verdeOscuro: #33a892;
  --blanco: #fffefe;
  --grisClaro : #f1f2f5;
  --azulClaro: #6d93c9;
  --fuente: sans-serif;
}


body{
  display: flex;
  height: 100vh;
  background-color: #f6f8fc;
}


.yuli{
  display: flex;
  flex-direction: column;
  width: 40vh;
  position: relative;
  height: 100%;
  padding-top: 30px;
}

.yuli .icon{
  position: relative;
  top: 15px;
  display: none;
}
.aside{
  display: flex;
  flex-direction: column;
  /* border: 1px solid; */
  margin-top: -40px;
  width: 40vh;
}
.adder{
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 4rem;
  width: 100%;
  background-color: #f6f8fc;
}

.nabber{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 5rem;
}

.nabber i{
  font-size: 1.8rem;
  cursor: pointer;
}

.nabber div{
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 1rem;
}

.nabber div p{
  font-size: 20px;
  font-weight: 500;
}

 .nabber div img{
  width: 30%;
  height: 2rem;
  object-fit: contain;
}

.buscador{
  display: flex;
  position: relative;
  align-items: center;
  width: 60%;
  height: 4rem;
}

.buscador div{
  display: flex;
  position: relative;
  align-items: center;
  width: 100%;
  height: 90%;
}
.buscador div input{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  border-radius: 1.5rem;
  border: none;
  background: #eaf1fb;
  height: 3rem;
  font-size: 1rem;
  padding-left: 3.5rem;
}


.buscador div input:focus{
  outline: none;
  border: 1px solid rgba(128, 128, 128, 0.103);
  background-color: #fff;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 2px 8px;
}
.buscador div i{
  position: absolute;
  left: 1rem;
  font-size: 1.5rem;
  color: #444746;
}

.optio{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 33%;
}

.option-true{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0rem 1.5rem;
}
.option-true i{
  font-size: 1.5rem;
  margin-top: 4px;
  color: #5f6368;
  cursor: pointer;
}


.cont-usu{
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: 45px;
  height: 45px;
  border-radius: 30px;

}

.cont-usu:hover{
  transform: scale3d(1.1deg);
}

.cont-usu  img{
  width: 100%;
  height: 100%;
  object-fit:contain;
  border-radius: 50px;
}

.cuentas{
  display: none;
  position: absolute;
  right: 2.5%;
  top: 11%;
  width: 26%;
  padding: 0.8rem 0.8rem;
  border-radius: 17px;
  height: auto;
  background-color: #eaf1fb;
}
.dash{
  display: block;
}

.overflow{
  height: auto;
  overflow-y: scroll;
  max-height: 25rem;
}

.overflow {
  scrollbar-width: none;
  /* Oculta la barra de desplazamiento */
}

.overflow::-webkit-scrollbar-thumb {
  background-color: transparent;
  /* Oculta el pulgar de la barra de desplazamiento */
}


.cuentas header{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
}

.cuentas header h2{
  font-size: 14px;
}
.cuentas .dash-img{
  margin: 0.8rem 0rem;
  width: 25%;
  height: 5rem;
  border-radius: 50%;
}

.cuentas .dash-img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.cuentas header button{
  width: 70%;
  height: 2.8rem;
  border-radius: 25px;
  cursor: pointer;
  border: none;
  color: #2d57a8;
  font-weight: 550;
  background-color: transparent;
  border: 1px solid gray;
}


.darf{
  height: auto;
  margin-top: 1rem;
}

.fores-u{
  list-style: none;
}

.fores-u summary{
  display: flex;
  align-items: center;
  padding-left: 1rem;
  cursor: pointer;
  color: #333;
  font-weight: 550;
  border-radius: 1.5rem 1.5rem 0rem 0rem;
  background-color: white;
  height: 3.5rem;
}

.count{
  display: flex;
  border-radius: 5px;
  background-color: white;
  height: 3.9rem;
  margin-top: 3px;
}

.count .fal{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 19%;
}

.count .fole{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 81%;
}

.count .fole h4{
  font-size: 15px;
  font-weight: 550;
  color: #333;
}

.count .fole p{
  font-size: 13px;
  margin-top: 2px;
  color: rgb(20, 15, 15);
}
.count .fal div{
  width: 69%;
  height: 70%;
  border-radius: 50%;
}

.count .fal div img{
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 50%;
}

.from-details{
  background-color: white;
  margin-top: 3px;
  height: 3.5rem;
  border-radius: 0rem 0rem 1.5rem 1.5rem;
}

.from-details button{
  display: flex;
  align-items: center;
  background-color: white;
  margin-top: 3px;
  width: 100%;
  color:#444746;
  font-weight: 550;
  height: 100%;
  border: none;
  cursor: pointer;
  text-align: left;
  padding: 0rem 1.5rem;
  border-radius: 0rem 0rem 1.5rem 1.5rem;
}

.from-details:hover{
  background-color: rgba(128, 128, 128, 0.144);
}



.from-details button i{
  margin-right: 1rem;
  font-size: 1.3rem;
  color: #333;
}


/* Estilos para el custom select */
.custom-select {
  width: 65%;
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.selected-option {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  display: flex;
  align-items: center;

}

.selected-option i{
  margin-right: 0.7rem;
}

.options {
  display: none;
  position: absolute;
  background-color: #fff;
  border: 1px solid #ccc;
  border-top: none;
  border-radius: 0 0 5px 5px;
  z-index: 1;
}

.option {
  padding: 10px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.option i {
  margin-right: 10px;
}
.show{
  display: block;
}

/* SECCION PARA DECORAR EL CUERPO DEL PROYECTO */

.mader{
  display: flex;
  width: 100%;
  height: 100vh;
}

.naver{
  width: 95%;
}

.menu{
  width: 100%;
  height: 100vh;
}

.hoss{
  padding: 2rem 0rem;
  height: auto;
}

.doss{
  background-color: #d3e3fd;
  
}
.doss div{
  color: #333; 
  font-weight: 550 !important; 
}

.hoss .toggle-dic{
  display: flex;
  align-items: center;
  width: 100%;
  height: 2.2rem;
  cursor: pointer;
  border-radius: 0rem 0.9rem 0.9rem 0rem;
}
.toggle-dic:hover{
  background-color: #f2f2f2;
}
.hoss .toggle-dic div{
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 0rem 1.2rem;
  color: #444746;
  font-weight: 400;
  font-size: 15px;
}

.hoss .toggle-dic div i{
  color: #444746;
  margin-right: 0.9rem;
}


.cuerpores{
  border-radius: 1rem;
  width: 99%;
  height: 88.3%;
  background-color: #ffffff;
}

.paginas{
  height: 90%;
  width: 100%;
  /* border: 1px solid; */
}

/* estilos de mis compras -----------------------------------*/

.container-miscompras{
  width: 100%;
  height: 100%;
  overflow: auto;
}
/* Estilos para la ventana modal */
.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.7);
  z-index: 1;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  position: relative; /* Agregamos esta propiedad para posicionar los elementos relativos a la ventana modal */
  top: 30%;
  left: 10%;
  width: 80%;
  height: 40%;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 2px;
  cursor: pointer;
  font-size: 30px;
  color: red;
}

/* Estilo para la tabla principal */
.preview-detalle {
  border-collapse: collapse;
  width: 100%;
  border: 1px solid #ddd;
  font-family: Arial, sans-serif;
  margin-bottom: 20px;
}

.preview-detalle thead{
  position: sticky;
  top: 0;
}

.preview-detalle th, .preview-detalle td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.preview-detalle th {
  background-color: #f2f2f2;
}

/* Estilo para el botón de "Ver Más" */
button {
  background-color: #007BFF;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: #0056b3;
}




/* modificaciones para Mis formulas */



.formulas{
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  align-items: center;
  padding: 0.5rem 0rem;
}
/* Agregar nuevas formulas al sistema */

.new-formula{
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding: 0rem 1rem;
  padding-bottom: 0.5rem;
}

.new-formula button{
  display: flex;
  align-items: center;
  background-color: #2d57a8;
  width: auto;
  border-radius: 8px;
  border: none;
  color: white;
  cursor: pointer;
  padding: 0.45rem 0.5rem;
}

.new-formula button i{
  margin-right: 5px;
  font-size: 15px;
}

/* Modificaciones para mostrar las fomrulas establecidas en el sistema */

.opt_config{
  display: flex;
  align-items: center;
  width: 98%;
  height: 10%;
  background-color: #f0f0f0;
  border-radius: 5px;
}

.search{
  position: relative;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
  height: 100%;
  margin-left: 15px;
}

.search input[type='search']{
  border: rgb(172, 172, 172) solid 1px;
  height: 35px;
  border-radius: 3px;
  width: 100%;
  font-size: 1em;
  padding-left: 3rem;
  background-color: transparent;
  border: none;
}
.search i{
  color: #6c6c6c;
  position: absolute;
  left: 14px;
  font-size: 1.6rem;
}


.search input:focus {
  outline: none;
  border: 1px solid rgb(65, 84, 250);
}
.rotate{
  transform: rotate(0.5turn);
}


.filtros{
  width: 30%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: #6c6c6c;
}

.filtros i{
  transform: rotate(90deg);
  font-size: 1.5rem;
}
.filtros div{
  padding: 0.3rem 0.65rem;
}
.filtros div:hover{
  background-color: rgba(0,0,0,.06);
}

.config_filtros{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
 cursor:pointer;
}

.cards_formulas{
  width: 98%;
  height: 90%;
  overflow: auto;
  display: flex;

  flex-direction: row;
  flex-wrap: wrap;
  gap: 12px;
}


.cards_formulas::-webkit-scrollbar-thumb {
  background-color: transparent;
  /* Oculta el pulgar de la barra de desplazamiento */
}



.card{
  width: 32.5%;
  margin-top: 0.8rem;
  height: 200px;
  border: rgb(197, 197, 197) 1px solid;
  padding: 0.8rem 0.8rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 2px;
  border-radius: 5px;
  position: relative;
}

.firts_line{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 20px;
}



.formula-info{
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #33333345;
  z-index: 5;
}

.card_info{
  background-color: white;
  height: 450px;
  width: 80%;
  display: flex;
  padding: 5px;
  gap: 5px;
  border-radius: 10px;
}

.infoMedico{
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 10px;
  background-color: rgba(250, 250, 250, 0.795);
  width: 30%;
  gap: 8px;
}

.medico{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width:100% ;
}

.title_infoMedico{
  font-size: 1.5em;
  text-align: center;
}

.name_medico{
  text-align: center;
  width: 100%;
  text-wrap: wrap;
  font-size: 0.8em;
}

.foto_medico{
  width: 120px;
  border-radius: 80%;
}


.tarjeta{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center ;
}




.infoFormula{
  display: flex;
  flex-direction: column;
 
  width: 80%;
}




/* fin */

/* modificaciones para papelera */
.cont-p{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 700px;
  overflow: auto;
}

.cont-p {
  scrollbar-width: none;
  /* Oculta la barra de desplazamiento */
}

.cont-p::-webkit-scrollbar-thumb {
  background-color: transparent;
  /* Oculta el pulgar de la barra de desplazamiento */
}

.icon{
  display: flex;
  width: 3rem;
  height: 2rem;
  justify-content: center;
  align-items: center;
  font-size: 2em;
}

.bt-form button{
  width: 15rem;
  height: 3rem;
  display: flex;
  align-items: center;
  border: none;
  padding: 0rem 1rem;
  background-color: transparent;
  border-bottom: 2px solid blue;
 border-radius: 3px;
 background-color: rgba(128, 128, 128, 0.068);
 cursor: pointer;
}
.bt-form button i{
  margin-right: 1rem;
}

.bt-form button:hover{
  background-color: rgba(128, 128, 128, 0.164);
}


.sect-p{
  display: flex;
  flex-direction: column;
}

.rect{
  border: 1px solid rgba(128, 128, 128, 0.116);
  height: 100px;
  display: flex;
  align-items: center;
  height: 2.5rem;
  cursor: pointer;
}

.rect:hover{
  box-shadow: rgba(0, 0, 0, 0.15) 2px 2px 3px 0px;
}

.icon-cuadro{
  font-size: 2em;
}

.cont-cd1{
  display: flex;
  align-items: center;
  width: 60%;
  height: 100%;
  font-size: 11px;
  font-weight: 100;
}

.cont-cd1 div{
  display: flex;
  align-items: center;
  height: 100%;
  margin: 0rem 0.5rem;
}

.ppp{
  width: 550px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.medico{
  width: 170px !important;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

/* CLASES PARA ME¿ANEJAR EN CASO DE QUE NO EXITAN FORMULAS O FORMATOS EN EL USUARIO */
.semantica-img{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.semantica-img img{
  width: 40%;
}

.contenido-tactico{
  display: flex;
  width: 64%;
}

.part1-contenido{
  width: 100%;
  position: relative;
}
.part2-contenido{
  position: absolute;
  z-index: 2;
  right: 0;
  background-color: white;
  color: black;
  display: none !important;
  width: auto;
  padding: 0rem 0rem;
}
.part2-contenido i{
  font-size: 1.2rem;
  margin: 0px 7px;
  padding: 0.3rem;
}

.part2-contenido i:hover{
  background-color: #33333315;
  padding: 0.3rem;
  border-radius: 50%;
}


.visible{
  display: flex !important;
}
.cont-cd2{
  display: flex;
  align-items: center;
  width: 40%;
  height: 100%;
  font-size: 11px;
  font-weight: 100;
}

.cont-cd2 div{
  display: flex;
  align-items: center;
  height: 100%;
  width: auto;
  padding: 0rem 0.6rem;
}
.cont-cd2 div button{
  background-color: transparent;
  width: auto;
  height: auto;
  padding: 0.1rem 1rem;
  border-radius: 5px;
  border: none;
  background-color: red;
  color: white;
}

.cont-cd2 section{
  display: flex;
  align-items: center;
  height: 100%;
}

/* checkbox settings 👇 */


.date-card{
  font-size: 0.8em;
}

.state-card{
  border: 1px solid rgb(187, 187, 187);
  height: 20px;
  width: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8em;
  border: none;
  border-radius: 4px;
  color: #333;
  background-color: orange;
}


.title_card{
  font-size: 1em;
}

.second-line{
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.profesion{
  font-size: 0.7em;
}

.name_doc{
  font-weight: bolder;
}

.third-line{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 1rem;
}

.menu_card{
  display: none;
  position: absolute;
  right: 25px;
  bottom: 10px;
  width: 100px;
  height: 80px;
  background-color: white;
  border: rgb(197, 197, 197) 1px solid;
  padding-left: 5px;
}

.menu_card ul{
  height: 100%;
  width: 100%;
  display: flex;
 flex-direction: column;
  gap: 10px; 
  justify-content: center;
}

.menu_card ul li{
  list-style: none;
  font-size: 1.1em;
}

.delete{
  color: red;
}

#tres{
  display: flex;
  flex-direction: column;
}
/* DISEÑO PARA LA VENTANA EMERGENTE DE FORMULAS */
.contenedor-form{
  display: none;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #33333345;
}

.abilisco{
  background-color: white;
  width: 60%;
  height: 80%;
  border-radius: 8px;
  padding: 0rem 0.8rem 0.5rem 0.8rem;
  position: relative;
}

.abilisco header{
  border-bottom: 1px solid rgba(128, 128, 128, 0.401);
  display: flex;
  align-items: center;
  height: 10%;
}

.abilisco header h2{
  color: #1c1e21;
  font-size: 20px;
  line-height: 20px;
  font-weight: 600;
  flex: 1;
  margin-top: 8px;
}
.abilisco header div{
  position: absolute;
  top: 0;
  right: 0;
  width: auto;
  cursor: pointer;
  height: 2rem;
  font-size: 25px;
}

.cuerpo-abilisco{
  height: 90%;
}

.cuerpo-abilisco .scroll-abi{
  height: 90%;
  /* display: none; */
  overflow-y: scroll;
}

.cuerpo-abilisco .botones-abi{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0.3rem 0rem;
  height: 10%;

}
.scroll-abi .mauso{
  position: relative;
  height: auto;
  margin: 0;
  padding: 0.2rem 0rem;
}

.scroll-abi {
  scrollbar-width: none;
  /* Oculta la barra de desplazamiento */
}

.scroll-abi::-webkit-scrollbar-thumb {
  background-color: transparent;
  /* Oculta el pulgar de la barra de desplazamiento */
}
.mauso p{
  color: #333;
  font-size: 15px;
  font-weight: normal;
  line-height: 20px;
  margin-bottom: 5px;
}
.mauso div{
  color: #606770;
  font-size: 12px;
  font-weight: normal;
  line-height: 20px;
  margin: -5px 0px;
}

.mauso-texto{
  width: 100%;
  padding: 11px;
  font-size: 15px;
  line-height: 16px;
  border-radius: 5px;
  border: 1px solid #ccd0d5;
  color: #1c1e21;
  background: #f5f6f7;
  position: relative;
  z-index: 1;
  font-family: sans-serif;
}
.mauso-texto:focus{
  outline: none;
}
.rezine-none{
  resize: none;
  height: 8rem;
}
.flex-mauso{
  display: flex;
  align-items: center;
  height: 20%;
}

.flex-mauso .mauso-boom{
  width: 50%;
  height: 100%;
  padding: 0rem 0.8rem 0rem 0rem;

}

.flex-mauso .mauso-boom input{
  margin: 0;
}
.menor{
  margin: 0;
}
.encojer{
  height: 2.7rem;
}

.botones-abi button{
  border: none;
  outline: none;
  padding: 10px 15px;
  border-radius: 4px;
  color: #fff;
  font-size: 14px;
  transition: all 0.3s ease;
  cursor: pointer;
}

.continuar{
  display: none;
  background-color: #2d57a8;
}

.asss{
  margin-left: 0.8rem;
  background-color: #a82d2d !important;
}
.regresar{
  background-color: #33a892;
  margin-right: 0.8rem;
}

/* DECORACION PARA MIRAR LOS MEDICAMENTOS UNO POR UNO */
.padre-medicamentos{
  display: none;
  overflow: hidden;
  height: 90%;
}

.medicamentos-abilisco{
  height: 100%;
  overflow-y: scroll;
}
.scrall {
  scrollbar-width: none;
  /* Oculta la barra de desplazamiento */
}

.scrall::-webkit-scrollbar-thumb {
  background-color: transparent;
  /* Oculta el pulgar de la barra de desplazamiento */
}
.cerrar{
  display: none;
}

.abrir{
  display: block !important;
}

.mauso-resultados{
  display: none;
  padding: 0.3rem 0rem;
  left: 5px;
  width: 98.5%;
  position: absolute;
  height: auto;
  max-height: 10ch;
  z-index: 2;
  background-color: white;
  border-radius: 5px;
  overflow-y: scroll;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.mauso-resultados div{
  padding: 0.2rem 0.5rem;
  height: 2.5rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  color: #333;
  font-size: 15px;
}

.mauso-resultados div svg{
  fill: #3030308a;
  rotate: 150deg;
  margin-right: 5px;
}

.mauso-resultados div p{
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
}

.agg{
  display: block;
  transition: display 0.5s all;
}

.aggdisplay{
  display: flex;
  transition: display 2s all;
}


@media (max-width: 767px) {
  .yuli {
  display: flex;
  height: 80vh;
  position: relative; /* Agregamos posición relativa para controlar los iconos */
}

.yuli .aside {
  width: 13%;
  height: 80vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #eaf1fb;
  transition: 0.5s;
  overflow-x: hidden;
  padding-top: 60px;
  z-index: 1;
}


.yuli.active .aside {
  width: 70%;
  height: 100vh;
}

/* Estilo para los iconos cuando el aside no está activo */
.yuli .icon {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2; /* Asegura que los iconos estén por encima del aside */
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.yuli.active .icon {
  display: none; /* Oculta los iconos cuando el aside está activo */
}

.yuli .icon i {
  color: #000;
  font-size: 45px;
  margin-top:50px;
  margin-left: 15px;
}

.cuerpores{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 430px;
  border-radius: 0;
}

.mader{
  width: 100%;
  display: flex;
  align-items: center;
  height: 100vh;
  justify-content: center;
}

.menu{
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hoss{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  margin-top: 40px;
}

.toggle-dic div i{
  font-size: 30px;

}

.doss{
  background-color: #d3e3fd;
  padding:1.7rem 0rem;
}

/* Oculta .logo-container cuando el aside no está activo */
.yuli:not(.active) .logo-container .logo {
  display: none;
}

/* Muestra .logo-container cuando el aside está activo */
.yuli.active .logo-container .logo{
  display: block;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
}

.buscador{
  width: 90%;
}

.adder{
  flex-direction: column;
  height: 8rem;
}

.optio{
  width: 90%;
  display: flex;
  gap: 30px;
  margin-bottom: 10px;
}
/* responsive compras */

.opt_config{
  flex-direction: column;
  height: 8rem;
}

.search{
  width: 90%;
}

.filtros{
  display: flex;
  justify-content: space-between;
  width: 90%;
}


.cards_formulas{
  height: 73%;
}


.cards_formulas{
  width: 98%;
  height: 90%;
  overflow: auto;
  display: flex;

  flex-direction: row;
  flex-wrap: wrap;
  gap: 12px;
}

.card{
  width: 100%;

}




/* fin */
.cuentas{
  width: 82%;
}


.paginas{
  width: 93%;
  height: 80vh;
  padding: 4px 4px;
  border: 1px solid;
}
}