<html lang="en">

<head>
   <link rel="stylesheet" href="../assets/css/panelAdmin.css">
</head>
<div class="categorias">

    <form  id="categoryAdd" onsubmit="sendForm(event, 'categoryAdd', 'controllers/agregarCategoria.php' )">
        <h2>Agregar categorias</h2>
        <section class="separadores">
            <label for="">Nombre categoria</label>
            <input type="text" name="nombrecategoria" placeholder="Ingresa nombre categoria" class="input">
        </section>
       
        <section class="separadores">
            <label for="">Descripcion</label>
        <input type="text" name="descripcion" placeholder="Descripción"class="input">
        </section>
        
    
        <input type="submit" value="Agregar Categoria" class="boton_aggcategoria">
    
      </form>
    

    <!-- <section class="artWrap">
        <article class="art" style="border-bottom: 0.2em solid #00c16c">
            <img src="../assets/img/inventarioAdmin.jpg" alt="Icono de Receta Médica" />
            <span>
                <h3>Atibioticos</h3>
                <p>Gestione su inventario de medicamentos.</p>
            </span>
        </article>

        <div class="art" style="border-bottom: 0.2em solid #9696ce">
            <img src="../assets/img/ofertasAdmin.jpg" alt="Imagen de la oferta" />
            <span>
                <h3>Antipichas</h3>
                <p>Personaliza tus propias ofertas.</p>
            </span>
        </div>

        <div class="art" style="border-bottom: 0.2em solid #3b7dd3">
            <img src="../assets/img/opinionesClientes.jpg" alt="Imagen de la oferta" />
            <span>
                <h3>Helectrolitosrecuperate</h3>
                <p>Experiencias de clientes</p>
            </span>
        </div>

        <div class="art" style="border-bottom: 0.2em solid #ffeb3b">
            <img src="../assets/img/facturacionAdmin.jpg" alt="Imagen de facturas" />
            <span>
                <h3>Productos para el setzo</h3>
                <p>Historial de facturas y transacciones</p>
            </span>
        </div>
    </section> -->

    
</div>
</html>