<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>
    <div class="container-categoria">
        <button class="AggCategoria" >Agregar categoria</button>
        <div class="contenedorCategoria">

        
        <div class="category">
            <div class="nombre">
                <h1>Nombre Categoria</h1>
            </div>
            <div class="descripcion">
                <h1>Descripcion del producto</h1>
            </div>
            <div class="buttons">
                <button class="acciones" >Editar</button>
                <button class="acciones" >Eliminar</button>
            </div>
        </div>

        <div class="category">
            <div class="nombre">
                <h1>Nombre Categoria</h1>
            </div>
            <div class="descripcion">
                <h1>Descripcion del producto</h1>
            </div>
            <div class="buttons">
                <button class="acciones" >Editar</button>
                <button class="acciones" >Eliminar</button>
            </div>
        </div>
        <div class="category">
            <div class="nombre">
                <h1>Nombre Categoria</h1>
            </div>
            <div class="descripcion">
                <h1>Descripcion del producto</h1>
            </div>
            <div class="buttons">
                <button class="acciones" >Editar</button>
                <button class="acciones" >Eliminar</button>
            </div>
        </div>
        <div class="category">
            <div class="nombre">
                <h1>Nombre Categoria</h1>
            </div>
            <div class="descripcion">
                <h1>Descripcion del producto</h1>
            </div>
            <div class="buttons">
                <button class="acciones" >Editar</button>
                <button class="acciones" >Eliminar</button>
            </div>
        </div>
        </div>
    </div>
</body>
</html>
