<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../assets/css/codigoclave.css" />
    <script src="https://kit.fontawesome.com/6262aa5408.js" crossorigin="anonymous"></script>
    <title>Title</title>
  </head>

  <body>
    <header class="cabecera">
      <section>
        <div>
          <h2>Registro</h2>
          <h1>Gratuito en 360NRS</h1>
        </div>
        <p>Prueba de 360NRS sin compromiso con nuestro saldo de regalo</p>
      </section>
    </header>

    <div class="container">
      <article>
        <header>
          <h2>Verifica</h2>
          <h1>tu código SMS</h1>
        </header>
        <div>
          <p>
            Introduce el código que te acabamos de enviar por SMS para verificar
            tu cuenta.
          </p>

          <p>
            Estás a punto de poder disfrutar de la mejor
            <span>plataforma de marketing multicanal</span> al mejor precio.
          </p>
        </div>

        <form action="">
          <article>
            <i class="fa-solid fa-pen-to-square"></i>
            <input
              type="text"
              name=""
              id=""
              placeholder="Introduce aquí el código recibido"
            />
            <div>
              <a href="">Volver a enviar el SMS</a>
            </div>
          </article>
          <button>Verifica el código y <span> <h2>accede</h2></span></button>
        </form>
      </article>

      <article>
        <p class="text">
          Si tienes algún problema durante el registro, por favor
          <span>contacta</span> con nosotros.
        </p>

        <section>
            <div>
                <span><i class="fa-solid fa-phone"></i></span>
                <section>
                    <h3>Teléfono:</h3>
                    <p>(+57) 324 345 67 89</p>
                </section>
              </div>
      
              <div>
                <span><i class="fa-solid fa-envelope"></i></span>
                <section>
                    <h3>Email:</h3>
                    <p id="info">info@360nrs.com</p>
                </section>
              </div>
        </section>
        
      </article>
    </div>
  </body>
</html>
