<html>
<div class="modal-comentarios">
    <div class="productos-container">
        <div class="opciones-vol-busc">
            <i class="bx bx-chevron-left" onclick="closeModalComentarios()"></i>
            <input type="text" id="filtroNombre" placeholder="Filtrar por nombre o código">
        </div>
        <div class="scroll-inventario">
            <div class="articles-inventario">
                <div class="comentario">
                    <h2>comentarios de clientes</h2>
                </div>
            </div>
        </div>
    </div>
</div>

</html>