<footer id="footer">
      <section>
        <article class="column">
          <h3 class="title">¿QUÉ OFRECEMOS?</h3>
          <p class="content-footer">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Inventore asperiores amet quod architecto omnis unde assumenda laboriosam magni quae.
          </p>
        </article>
        <article class="column">
          <h3 class="title">SÍGUENOS EN REDES SOCIALES</h3>
          <aside class="content-footer">
            <a target="_blank" href="https://api.whatsapp.com/send?phone=573508418304"><i class="fa-brands fa-whatsapp"></i></a>
            <a href="https://www.facebook.com/" ><i class="fa-brands fa-facebook"></i></a>
            <a href="https://www.instagram.com/" ><i class="fa-brands fa-instagram"></i></a>
          </aside>
        </article>

        <article class="column">
          <h3 class="title">CONTÁCTANOS</h3>
            <a  href="tel:+573202006317" class="content-footer"><i class="fa-solid fa-phone"></i> +57 3202006317</a>
        </article>
        <div href="" class="logo">
          <img src="../assets/img/logoFarmadso - cambio.png" alt="" />
        </div>
      </section>
    
      <div class="copyright">Todos los derechos reservados &copy; 2023</div>
    </footer>
